n8n/workflows/Cloud_Reddit_Analyser_1_UsJ70dsmAzdPqcuS.json
{
  "updatedAt": "2026-02-05T12:46:43.155Z",
  "createdAt": "2026-02-05T11:55:30.684Z",
  "id": "UsJ70dsmAzdPqcuS",
  "name": "Cloud_Reddit_Analyser_1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c51a82-b346-4b76-bf7c-5360a9d42d93",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "094d1dac-d536-447d-aa89-d5fb9f4f8675",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "31084444-243e-4a83-87db-8e135fd6a64e",
              "name": "Content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "1c0ada2f-7ca5-41b7-a619-cf207a969fa0",
              "name": "Post ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -16
      ],
      "id": "402877cb-47ec-46ee-beb0-924ccddff8b2",
      "name": "Edit RSS read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bcb42b4-5c3a-4384-af0c-e94bb3e4f5e4",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "a7b0a267-8934-4074-abd7-ebde0253efac",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "5acb8458-3fc3-4255-bf79-5190df83a431",
              "name": "Content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "93775895-cb49-4ac7-ae88-5b98157b2fe9",
              "name": "Post ID",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        192
      ],
      "id": "a58a64a9-fd89-401f-bd5b-f8ea78afafe2",
      "name": "Edit Sheet Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        384
      ],
      "id": "d35ef7f8-754f-4c12-b0ff-21607e82b678",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1760,
        272
      ],
      "id": "19804ceb-f0ba-4016-be5c-73439066d312"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        384
      ],
      "id": "10ce78e6-b2ed-4d5a-b10d-6d68b97382e6",
      "name": "Wait1",
      "webhookId": "8819e6d1-4110-4272-b9fe-6fac7039928e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c51a82-b346-4b76-bf7c-5360a9d42d93",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "094d1dac-d536-447d-aa89-d5fb9f4f8675",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "31084444-243e-4a83-87db-8e135fd6a64e",
              "name": "Content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "1c0ada2f-7ca5-41b7-a619-cf207a969fa0",
              "name": "Post ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        576
      ],
      "id": "408a0bbb-23e4-4fb1-b4b8-c6b0eec2f00b",
      "name": "Edit RSS read1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bcb42b4-5c3a-4384-af0c-e94bb3e4f5e4",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "a7b0a267-8934-4074-abd7-ebde0253efac",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "5acb8458-3fc3-4255-bf79-5190df83a431",
              "name": "Content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "93775895-cb49-4ac7-ae88-5b98157b2fe9",
              "name": "Post ID",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        768
      ],
      "id": "d06d5443-c094-4390-9d1f-428cc5c2b9e5",
      "name": "Edit Sheet Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        960
      ],
      "id": "ca922777-7ba9-490f-933b-0a74a9d4fc89",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        1776,
        880
      ],
      "id": "f4d937e7-8ec6-46d7-8341-337688d2a96d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        960
      ],
      "id": "3d64bea8-44f3-468f-a889-a58813d3e7ce",
      "name": "Wait2",
      "webhookId": "274058da-c123-468f-ba58-0a9ca948000d"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Post ID']",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        80
      ],
      "id": "5d3e05af-a76e-4ade-87ca-e552023f5137",
      "name": "Check new unique entries"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b68eac-dbd9-48cc-876b-8e4462c51a6f",
              "leftValue": "={{ $json['Comment-ToDo'] }}",
              "rightValue": "Not Evaluated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        384
      ],
      "id": "c011ac5b-e354-4c12-94cc-54c9e9c46e07",
      "name": "If - Not Evaluated"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.Title }}\nContent: {{ $json.Content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Role:\nYou are a senior Cloud & DevOps engineer with hands-on experience across AWS, GCP, Azure, and MLOps pipelines. Your task is to analyze Reddit posts in subreddits like r/aws, r/devops, r/azure, r/googlecloud, and r/mlops, and identify posts where your technical insight can provide genuine help or spark a useful discussion.\n\nThink like an experienced practitioner, not a marketer. Your goal is to educate, share practical solutions, and naturally build credibility.\n\n🎯 Objective\n\nFor each Reddit post (title + content):\n\n- Deeply analyze intent\n- Determine whether the user is asking for help, facing technical challenges, or exploring actionable solutions for cloud, DevOps, or MLOps workflows\n\nYou MUST copy the input Post ID exactly into \"post_id\".\nPost ID: {{ $json['Post ID'] }}\n\nDecision:\n\n- If actionable → \"comment\": \"Yes\" and provide a discussion-style, solution-oriented response\n- If non-actionable → \"comment\": \"No\" and \"content\": \"N/A\"\n\nYour comments must be authentic, technical, peer-level, and not promotional.\n\n🧠 Deep Analysis & Thought Process\n\nWhen evaluating a post:\n\n1. Understand the intent:\n   - Is the user seeking guidance, collaboration, or feedback for a real-world cloud or DevOps implementation?\n   - Are they describing a real bottleneck, optimization opportunity, or architectural decision?\n\n2. Identify the technical challenge category:\n   - Deployment or model serving\n   - Scaling, high availability, or resilience\n   - CI/CD or DevOps automation\n   - Monitoring, observability, and alerting\n   - Cost optimization and right-sizing\n   - Security, IAM, audit, or compliance\n   - Cloud migration, hybrid, or edge architectures\n\n3. Recall practical solutions:\n   - Reference industry best practices, tools, or architectural trade-offs\n   - Suggest actionable approaches, not just tool names\n\n4. Engage conversationally:\n   - Human, professional tone\n   - Use peer-level language such as:\n     - “In my experience…”\n     - “One thing that often helps is…”\n     - “You might find it easier to…”\n\n5. End with a soft discussion-style CTA:\n   - “Happy to exchange notes if you’re working through this setup.”\n   - “Curious how you’re approaching this currently.”\n   - “Let me know if you’d like a deeper breakdown; I’ve tackled a similar challenge.”\n\n✅ Comment “Yes” If the Post Shows\n\nActionable, technical intent related to:\n- Cloud cost optimization (budgets, right-sizing, Spot usage)\n- Scaling and resilience (HA, auto-scaling, load balancing)\n- Infrastructure automation and DevOps pipelines (Terraform, CloudFormation, Jenkins, GitHub Actions, Cloud Build)\n- AI/ML model deployment or retraining (SageMaker, Vertex AI, MLflow, Kubeflow)\n- Monitoring and observability (Prometheus, Grafana, CloudWatch, dashboards)\n- Security, IAM, auditing, or compliance setup\n- Migration or architecture optimization (hybrid cloud, edge, networking)\n- CI/CD orchestration (multi-environment pipelines, canary or blue-green deployments)\n\n🚫 Comment “No” If the Post Is\n\n- Pure debugging or error resolution (e.g., “403 on S3”, missing permissions)\n- News, memes, or opinion threads\n- Academic, theoretical, or certification content\n- Job postings or resume feedback\n- General discussion without implementation or guidance intent\n\n💬 Comment Style & Strategy\n\nIf \"comment\": \"Yes\":\n- Discussion-oriented, not transactional\n- 1–2 concise sentences\n- Reference specific tools, methods, or trade-offs\n- End with a soft, peer-level CTA to continue the discussion\n\n🚨 STRICT OUTPUT RULES (MANDATORY)\n\nYou MUST output ONLY valid JSON.\nDo NOT include explanations, markdown, or extra text.\n\nRules:\n- Always return ALL THREE fields: \"post_id\", \"comment\", and \"content\"\n- \"post_id\" must exactly match the input Post ID\n- \"comment\" must be exactly \"Yes\" or \"No\"\n- \"content\" must ALWAYS be a string\n\nIf comment = \"No\":\n- content MUST be exactly \"N/A\"\n\nIf comment = \"Yes\":\n- content MUST be 1–2 sentences\n- content MUST NOT be empty\n\nCorrect examples:\n{\"post_id\":\"abc123\",\"comment\":\"No\",\"content\":\"N/A\"}\n{\"post_id\":\"abc123\",\"comment\":\"Yes\",\"content\":\"Short technical comment here.\"}\n\nOutput ONLY the JSON object.\n\nIf the post is borderline or unclear:\nReturn {\"post_id\":\"<same Post ID>\",\"comment\":\"No\",\"content\":\"N/A\"}\nNever return empty content.\n\n🧪 Example Scenarios\n\nExample 1 – AWS Cost Optimization\n\nInput:\n{\n  \"title\": \"Struggling to reduce AWS EC2 and S3 costs\",\n  \"content\": \"Our monthly bill is getting out of control, especially EC2 compute and S3 storage. Looking for better optimization ideas or cost control tools.\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud001\",\n  \"comment\": \"Yes\",\n  \"content\": \"This often comes down to underutilized EC2 instances and suboptimal S3 storage classes. AWS Compute Optimizer and S3 Lifecycle rules can help with rightsizing and automatic tiering; happy to exchange notes on cost monitoring setups.\"\n}\n\nExample 2 – GCP DevOps Pipeline Automation\n\nInput:\n{\n  \"title\": \"CI/CD for Vertex AI model deployment\",\n  \"content\": \"We want to automate our ML model deployment on Vertex AI and integrate retraining when performance drops. Any ideas?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud002\",\n  \"comment\": \"Yes\",\n  \"content\": \"You can combine Cloud Build with Vertex AI Pipelines and trigger retraining via monitoring signals using Cloud Functions. This keeps deployments modular and scalable; happy to share what’s worked well in similar setups.\"\n}\n\nExample 3 – Debug Post (Ignore)\n\nInput:\n{\n  \"title\": \"CloudFormation template fails with access denied\",\n  \"content\": \"My CloudFormation deployment keeps failing due to missing permissions. Any idea which policy to use?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud003\",\n  \"comment\": \"No\",\n  \"content\": \"N/A\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        960,
        272
      ],
      "id": "19b0dfcd-995c-4c8c-9c4c-44e90cce21fc",
      "name": "Analyse Comment - n8n Subreddit"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Post ID']",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        672
      ],
      "id": "09c3557a-0191-4bf0-be43-3b3724210664",
      "name": "Check new Unique rows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b68eac-dbd9-48cc-876b-8e4462c51a6f",
              "leftValue": "={{ $json['Comment-ToDo'] }}",
              "rightValue": "Not Evaluated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        960
      ],
      "id": "4ae738f2-f3a7-4c2b-8b5c-6f220e745dca",
      "name": "If - Not Evaluated1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.Title }}\nContent: {{ $json.Content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Role:\nYou are a senior Cloud & DevOps engineer with hands-on experience across AWS, GCP, Azure, and MLOps pipelines. Your task is to analyze Reddit posts in subreddits like r/aws, r/devops, r/azure, r/googlecloud, and r/mlops, and identify posts where your technical insight can provide genuine help or spark a useful discussion.\n\nThink like an experienced practitioner, not a marketer. Your goal is to educate, share practical solutions, and naturally build credibility.\n\n🎯 Objective\n\nFor each Reddit post (title + content):\n\n- Deeply analyze intent\n- Determine whether the user is asking for help, facing technical challenges, or exploring actionable solutions for cloud, DevOps, or MLOps workflows\n\nYou MUST copy the input Post ID exactly into \"post_id\".\nPost ID: {{ $json['Post ID'] }}\n\nDecision:\n\n- If actionable → \"comment\": \"Yes\" and provide a discussion-style, solution-oriented response\n- If non-actionable → \"comment\": \"No\" and \"content\": \"N/A\"\n\nYour comments must be authentic, technical, peer-level, and not promotional.\n\n🧠 Deep Analysis & Thought Process\n\nWhen evaluating a post:\n\n1. Understand the intent:\n   - Is the user seeking guidance, collaboration, or feedback for a real-world cloud or DevOps implementation?\n   - Are they describing a real bottleneck, optimization opportunity, or architectural decision?\n\n2. Identify the technical challenge category:\n   - Deployment or model serving\n   - Scaling, high availability, or resilience\n   - CI/CD or DevOps automation\n   - Monitoring, observability, and alerting\n   - Cost optimization and right-sizing\n   - Security, IAM, audit, or compliance\n   - Cloud migration, hybrid, or edge architectures\n\n3. Recall practical solutions:\n   - Reference industry best practices, tools, or architectural trade-offs\n   - Suggest actionable approaches, not just tool names\n\n4. Engage conversationally:\n   - Human, professional tone\n   - Use peer-level language such as:\n     - “In my experience…”\n     - “One thing that often helps is…”\n     - “You might find it easier to…”\n\n5. End with a soft discussion-style CTA:\n   - “Happy to exchange notes if you’re working through this setup.”\n   - “Curious how you’re approaching this currently.”\n   - “Let me know if you’d like a deeper breakdown; I’ve tackled a similar challenge.”\n\n✅ Comment “Yes” If the Post Shows\n\nActionable, technical intent related to:\n- Cloud cost optimization (budgets, right-sizing, Spot usage)\n- Scaling and resilience (HA, auto-scaling, load balancing)\n- Infrastructure automation and DevOps pipelines (Terraform, CloudFormation, Jenkins, GitHub Actions, Cloud Build)\n- AI/ML model deployment or retraining (SageMaker, Vertex AI, MLflow, Kubeflow)\n- Monitoring and observability (Prometheus, Grafana, CloudWatch, dashboards)\n- Security, IAM, auditing, or compliance setup\n- Migration or architecture optimization (hybrid cloud, edge, networking)\n- CI/CD orchestration (multi-environment pipelines, canary or blue-green deployments)\n\n🚫 Comment “No” If the Post Is\n\n- Pure debugging or error resolution (e.g., “403 on S3”, missing permissions)\n- News, memes, or opinion threads\n- Academic, theoretical, or certification content\n- Job postings or resume feedback\n- General discussion without implementation or guidance intent\n\n💬 Comment Style & Strategy\n\nIf \"comment\": \"Yes\":\n- Discussion-oriented, not transactional\n- 1–2 concise sentences\n- Reference specific tools, methods, or trade-offs\n- End with a soft, peer-level CTA to continue the discussion\n\n🚨 STRICT OUTPUT RULES (MANDATORY)\n\nYou MUST output ONLY valid JSON.\nDo NOT include explanations, markdown, or extra text.\n\nRules:\n- Always return ALL THREE fields: \"post_id\", \"comment\", and \"content\"\n- \"post_id\" must exactly match the input Post ID\n- \"comment\" must be exactly \"Yes\" or \"No\"\n- \"content\" must ALWAYS be a string\n\nIf comment = \"No\":\n- content MUST be exactly \"N/A\"\n\nIf comment = \"Yes\":\n- content MUST be 1–2 sentences\n- content MUST NOT be empty\n\nCorrect examples:\n{\"post_id\":\"abc123\",\"comment\":\"No\",\"content\":\"N/A\"}\n{\"post_id\":\"abc123\",\"comment\":\"Yes\",\"content\":\"Short technical comment here.\"}\n\nOutput ONLY the JSON object.\n\nIf the post is borderline or unclear:\nReturn {\"post_id\":\"<same Post ID>\",\"comment\":\"No\",\"content\":\"N/A\"}\nNever return empty content.\n\n🧪 Example Scenarios\n\nExample 1 – AWS Cost Optimization\n\nInput:\n{\n  \"title\": \"Struggling to reduce AWS EC2 and S3 costs\",\n  \"content\": \"Our monthly bill is getting out of control, especially EC2 compute and S3 storage. Looking for better optimization ideas or cost control tools.\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud001\",\n  \"comment\": \"Yes\",\n  \"content\": \"This often comes down to underutilized EC2 instances and suboptimal S3 storage classes. AWS Compute Optimizer and S3 Lifecycle rules can help with rightsizing and automatic tiering; happy to exchange notes on cost monitoring setups.\"\n}\n\nExample 2 – GCP DevOps Pipeline Automation\n\nInput:\n{\n  \"title\": \"CI/CD for Vertex AI model deployment\",\n  \"content\": \"We want to automate our ML model deployment on Vertex AI and integrate retraining when performance drops. Any ideas?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud002\",\n  \"comment\": \"Yes\",\n  \"content\": \"You can combine Cloud Build with Vertex AI Pipelines and trigger retraining via monitoring signals using Cloud Functions. This keeps deployments modular and scalable; happy to share what’s worked well in similar setups.\"\n}\n\nExample 3 – Debug Post (Ignore)\n\nInput:\n{\n  \"title\": \"CloudFormation template fails with access denied\",\n  \"content\": \"My CloudFormation deployment keeps failing due to missing permissions. Any idea which policy to use?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud003\",\n  \"comment\": \"No\",\n  \"content\": \"N/A\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        976,
        880
      ],
      "id": "0fb7f5f1-bdad-44f9-8c5b-5051b2838b56",
      "name": "Analyse Comments - AIAutomations Subreddit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c51a82-b346-4b76-bf7c-5360a9d42d93",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "094d1dac-d536-447d-aa89-d5fb9f4f8675",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "31084444-243e-4a83-87db-8e135fd6a64e",
              "name": "Content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "1c0ada2f-7ca5-41b7-a619-cf207a969fa0",
              "name": "Post ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1168
      ],
      "id": "8b8dfd4a-048a-422f-b54c-3b294e6cdcd6",
      "name": "Edit RSS read2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bcb42b4-5c3a-4384-af0c-e94bb3e4f5e4",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "a7b0a267-8934-4074-abd7-ebde0253efac",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "5acb8458-3fc3-4255-bf79-5190df83a431",
              "name": "Content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "93775895-cb49-4ac7-ae88-5b98157b2fe9",
              "name": "Post ID",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        1360
      ],
      "id": "3c70932b-822c-4240-a590-25ae234901bc",
      "name": "Edit Sheet Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        1568
      ],
      "id": "66731c8d-2ee2-46f0-b006-892e3310b38d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me3",
      "typeVersion": 1,
      "position": [
        1776,
        1456
      ],
      "id": "39b794d5-b4e7-4a6f-acc8-c373be30b077"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        48,
        1568
      ],
      "id": "72e8a0c1-e6e3-4d10-92a4-d97cb00831ea",
      "name": "Wait",
      "webhookId": "ed7910de-23b4-4fb9-be50-d8ca1d05307e"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Post ID']",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        1264
      ],
      "id": "216b608d-f1b5-402a-8142-3cbf87b3009b",
      "name": "Check new Unique rows1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b68eac-dbd9-48cc-876b-8e4462c51a6f",
              "leftValue": "={{ $json['Comment-ToDo'] }}",
              "rightValue": "Not Evaluated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        1568
      ],
      "id": "3b7c6895-f96d-4e70-a931-96598fcb5d40",
      "name": "If - Not Evaluated2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.Title }}\nContent: {{ $json.Content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Role:\nYou are a senior Cloud & DevOps engineer with hands-on experience across AWS, GCP, Azure, and MLOps pipelines. Your task is to analyze Reddit posts in subreddits like r/aws, r/devops, r/azure, r/googlecloud, and r/mlops, and identify posts where your technical insight can provide genuine help or spark a useful discussion.\n\nThink like an experienced practitioner, not a marketer. Your goal is to educate, share practical solutions, and naturally build credibility.\n\n🎯 Objective\n\nFor each Reddit post (title + content):\n\n- Deeply analyze intent\n- Determine whether the user is asking for help, facing technical challenges, or exploring actionable solutions for cloud, DevOps, or MLOps workflows\n\nYou MUST copy the input Post ID exactly into \"post_id\".\nPost ID: {{ $json['Post ID'] }}\n\nDecision:\n\n- If actionable → \"comment\": \"Yes\" and provide a discussion-style, solution-oriented response\n- If non-actionable → \"comment\": \"No\" and \"content\": \"N/A\"\n\nYour comments must be authentic, technical, peer-level, and not promotional.\n\n🧠 Deep Analysis & Thought Process\n\nWhen evaluating a post:\n\n1. Understand the intent:\n   - Is the user seeking guidance, collaboration, or feedback for a real-world cloud or DevOps implementation?\n   - Are they describing a real bottleneck, optimization opportunity, or architectural decision?\n\n2. Identify the technical challenge category:\n   - Deployment or model serving\n   - Scaling, high availability, or resilience\n   - CI/CD or DevOps automation\n   - Monitoring, observability, and alerting\n   - Cost optimization and right-sizing\n   - Security, IAM, audit, or compliance\n   - Cloud migration, hybrid, or edge architectures\n\n3. Recall practical solutions:\n   - Reference industry best practices, tools, or architectural trade-offs\n   - Suggest actionable approaches, not just tool names\n\n4. Engage conversationally:\n   - Human, professional tone\n   - Use peer-level language such as:\n     - “In my experience…”\n     - “One thing that often helps is…”\n     - “You might find it easier to…”\n\n5. End with a soft discussion-style CTA:\n   - “Happy to exchange notes if you’re working through this setup.”\n   - “Curious how you’re approaching this currently.”\n   - “Let me know if you’d like a deeper breakdown; I’ve tackled a similar challenge.”\n\n✅ Comment “Yes” If the Post Shows\n\nActionable, technical intent related to:\n- Cloud cost optimization (budgets, right-sizing, Spot usage)\n- Scaling and resilience (HA, auto-scaling, load balancing)\n- Infrastructure automation and DevOps pipelines (Terraform, CloudFormation, Jenkins, GitHub Actions, Cloud Build)\n- AI/ML model deployment or retraining (SageMaker, Vertex AI, MLflow, Kubeflow)\n- Monitoring and observability (Prometheus, Grafana, CloudWatch, dashboards)\n- Security, IAM, auditing, or compliance setup\n- Migration or architecture optimization (hybrid cloud, edge, networking)\n- CI/CD orchestration (multi-environment pipelines, canary or blue-green deployments)\n\n🚫 Comment “No” If the Post Is\n\n- Pure debugging or error resolution (e.g., “403 on S3”, missing permissions)\n- News, memes, or opinion threads\n- Academic, theoretical, or certification content\n- Job postings or resume feedback\n- General discussion without implementation or guidance intent\n\n💬 Comment Style & Strategy\n\nIf \"comment\": \"Yes\":\n- Discussion-oriented, not transactional\n- 1–2 concise sentences\n- Reference specific tools, methods, or trade-offs\n- End with a soft, peer-level CTA to continue the discussion\n\n🚨 STRICT OUTPUT RULES (MANDATORY)\n\nYou MUST output ONLY valid JSON.\nDo NOT include explanations, markdown, or extra text.\n\nRules:\n- Always return ALL THREE fields: \"post_id\", \"comment\", and \"content\"\n- \"post_id\" must exactly match the input Post ID\n- \"comment\" must be exactly \"Yes\" or \"No\"\n- \"content\" must ALWAYS be a string\n\nIf comment = \"No\":\n- content MUST be exactly \"N/A\"\n\nIf comment = \"Yes\":\n- content MUST be 1–2 sentences\n- content MUST NOT be empty\n\nCorrect examples:\n{\"post_id\":\"abc123\",\"comment\":\"No\",\"content\":\"N/A\"}\n{\"post_id\":\"abc123\",\"comment\":\"Yes\",\"content\":\"Short technical comment here.\"}\n\nOutput ONLY the JSON object.\n\nIf the post is borderline or unclear:\nReturn {\"post_id\":\"<same Post ID>\",\"comment\":\"No\",\"content\":\"N/A\"}\nNever return empty content.\n\n🧪 Example Scenarios\n\nExample 1 – AWS Cost Optimization\n\nInput:\n{\n  \"title\": \"Struggling to reduce AWS EC2 and S3 costs\",\n  \"content\": \"Our monthly bill is getting out of control, especially EC2 compute and S3 storage. Looking for better optimization ideas or cost control tools.\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud001\",\n  \"comment\": \"Yes\",\n  \"content\": \"This often comes down to underutilized EC2 instances and suboptimal S3 storage classes. AWS Compute Optimizer and S3 Lifecycle rules can help with rightsizing and automatic tiering; happy to exchange notes on cost monitoring setups.\"\n}\n\nExample 2 – GCP DevOps Pipeline Automation\n\nInput:\n{\n  \"title\": \"CI/CD for Vertex AI model deployment\",\n  \"content\": \"We want to automate our ML model deployment on Vertex AI and integrate retraining when performance drops. Any ideas?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud002\",\n  \"comment\": \"Yes\",\n  \"content\": \"You can combine Cloud Build with Vertex AI Pipelines and trigger retraining via monitoring signals using Cloud Functions. This keeps deployments modular and scalable; happy to share what’s worked well in similar setups.\"\n}\n\nExample 3 – Debug Post (Ignore)\n\nInput:\n{\n  \"title\": \"CloudFormation template fails with access denied\",\n  \"content\": \"My CloudFormation deployment keeps failing due to missing permissions. Any idea which policy to use?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud003\",\n  \"comment\": \"No\",\n  \"content\": \"N/A\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        976,
        1456
      ],
      "id": "607750b6-9c29-4158-a6e5-1f999e5ee0da",
      "name": "Analyse Comments - AIAutomations Subreddit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        960
      ],
      "id": "31056f84-22b4-47ba-9be8-a6b2427a4aa9",
      "name": "Wait6",
      "webhookId": "896a9aa3-2563-414a-b10b-f0fafd43b3f0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        1584
      ],
      "id": "e67bcfbb-c12f-47a6-9ffa-b35bc593f527",
      "name": "Wait7",
      "webhookId": "85fa077c-1501-4cae-8b10-83ba300e2141"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2624,
        1248
      ],
      "id": "ed5d3941-f8c8-46e6-8246-7aa7cb7fd023",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -832,
        768
      ],
      "id": "38263ccf-10fb-478c-b5a6-f61f51b6af43",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse AI output if it exists\nlet ai = {};\n\ntry {\n  if ($json.text) {\n    ai = JSON.parse($json.text);\n  } else if ($json.output) {\n    ai = $json.output;\n  }\n} catch (e) {\n  ai = {};\n}\n\n// 2. Always take Post ID from the original item\nconst postId =\n  $json['Post ID'] ||\n  $json.post_id ||\n  ai.post_id ||\n  '';\n\n// 3. Normalize fields with safe defaults\nconst commentToDo = ai.comment === 'Yes' ? 'Yes' : 'No';\nconst commentContent =\n  ai.comment === 'Yes' && ai.content\n    ? ai.content\n    : 'N/A';\n\n// 4. Output ONLY the normalized fields\nreturn [\n  {\n    'Post ID': postId,\n    'Comment-ToDo': commentToDo,\n    'Comment': commentContent\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        880
      ],
      "id": "bd289d0e-53a6-4fd0-a363-44ea00c7f261",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse AI output if it exists\nlet ai = {};\n\ntry {\n  if ($json.text) {\n    ai = JSON.parse($json.text);\n  } else if ($json.output) {\n    ai = $json.output;\n  }\n} catch (e) {\n  ai = {};\n}\n\n// 2. Always take Post ID from the original item\nconst postId =\n  $json['Post ID'] ||\n  $json.post_id ||\n  ai.post_id ||\n  '';\n\n// 3. Normalize fields with safe defaults\nconst commentToDo = ai.comment === 'Yes' ? 'Yes' : 'No';\nconst commentContent =\n  ai.comment === 'Yes' && ai.content\n    ? ai.content\n    : 'N/A';\n\n// 4. Output ONLY the normalized fields\nreturn [\n  {\n    'Post ID': postId,\n    'Comment-ToDo': commentToDo,\n    'Comment': commentContent\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1456
      ],
      "id": "66a54d30-822e-46ff-b691-8cfc6ab7cdce",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse AI output if it exists\nlet ai = {};\n\ntry {\n  if ($json.text) {\n    ai = JSON.parse($json.text);\n  } else if ($json.output) {\n    ai = $json.output;\n  }\n} catch (e) {\n  ai = {};\n}\n\n// 2. Always take Post ID from the original item\nconst postId =\n  $json['Post ID'] ||\n  $json.post_id ||\n  ai.post_id ||\n  '';\n\n// 3. Normalize fields with safe defaults\nconst commentToDo = ai.comment === 'Yes' ? 'Yes' : 'No';\nconst commentContent =\n  ai.comment === 'Yes' && ai.content\n    ? ai.content\n    : 'N/A';\n\n// 4. Output ONLY the normalized fields\nreturn [\n  {\n    'Post ID': postId,\n    'Comment-ToDo': commentToDo,\n    'Comment': commentContent\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        272
      ],
      "id": "ffcb2355-b2a0-4512-93da-ba0349424b5a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        384
      ],
      "id": "91ab5c97-c97c-43a1-b14d-bfd90c5f17ba",
      "name": "Wait3",
      "webhookId": "0671a628-08e5-49d5-ab34-59b192d0411e"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 755007486,
          "mode": "list",
          "cachedResultName": "GCP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=755007486"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.Link }}",
            "Content": "={{ $json.Content }}",
            "Post ID": "={{ $json['Post ID'] }}",
            "Comment-ToDo": "Not Evaluated",
            "Status": "Pending",
            "Title": "={{ $json.Title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        80
      ],
      "id": "5dee6893-5c63-4504-82e8-2401cfc7acac",
      "name": "Add Rows - GCP Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 755007486,
          "mode": "list",
          "cachedResultName": "GCP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=755007486"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        192
      ],
      "id": "58d45088-667a-448c-a505-a8854aa4d03c",
      "name": "Get Rows - GCP Subreddit",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 755007486,
          "mode": "list",
          "cachedResultName": "GCP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=755007486"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        384
      ],
      "id": "a66dc07b-695a-4941-b4a2-fe6e7c3c7ec2",
      "name": "Get Rows - GCP Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 755007486,
          "mode": "list",
          "cachedResultName": "GCP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=755007486"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "={{ $json[\"Comment-ToDo\"] }}",
            "Comment": "={{ $json.Comment }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        272
      ],
      "id": "c0e9e5a5-c2f9-4ffb-969d-90ee8d1c9dae",
      "name": "Update To Do - GCP Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 210902962,
          "mode": "list",
          "cachedResultName": "AZURE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=210902962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Link": "={{ $json.Link }}",
            "Content": "={{ $json.Content }}",
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "Not Evaluated",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        672
      ],
      "id": "97ae92e4-7c77-4b50-b97c-6005ee769676",
      "name": "Add rows - AZURE Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 210902962,
          "mode": "list",
          "cachedResultName": "AZURE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=210902962"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        960
      ],
      "id": "c943ec74-20d1-4381-8ae8-0242aab5588c",
      "name": "Get Rows - AZURE Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 210902962,
          "mode": "list",
          "cachedResultName": "AZURE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=210902962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "={{ $json[\"Comment-ToDo\"] }}",
            "Comment": "={{ $json.Comment }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        880
      ],
      "id": "66ab2aaf-ecd6-4cd4-a70c-d9831c05081a",
      "name": "Update TO Do - AZURE Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1157700785,
          "mode": "list",
          "cachedResultName": "DevOps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=1157700785"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Link": "={{ $json.Link }}",
            "Content": "={{ $json.Content }}",
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "Not Evaluated",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        1264
      ],
      "id": "700ca2a4-8070-4430-9bf4-b3d41697597d",
      "name": "Add rows - DevOps Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1157700785,
          "mode": "list",
          "cachedResultName": "DevOps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=1157700785"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        1360
      ],
      "id": "32e235fe-49be-4abc-acff-6c6220e5b5ce",
      "name": "Get Rows - DevOps Subreddit2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1157700785,
          "mode": "list",
          "cachedResultName": "DevOps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=1157700785"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        1568
      ],
      "id": "e3240cd5-0814-4a4c-8ed6-348fdcdb6139",
      "name": "Get Rows - DevOps Subreddit3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1157700785,
          "mode": "list",
          "cachedResultName": "DevOps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=1157700785"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "={{ $json[\"Comment-ToDo\"] }}",
            "Comment": "={{ $json.Comment }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        1456
      ],
      "id": "d88e1009-0e9b-4fbc-a2bb-6ddebd0914bb",
      "name": "Update TO Do - DevOps Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/googlecloud/new.rss",
        "options": {
          "customFields": "User-Agent"
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -272
      ],
      "id": "745a0221-2bb1-49c5-a43f-368e0aada4bf",
      "name": "RSS Read - GCP Subreddit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 210902962,
          "mode": "list",
          "cachedResultName": "AZURE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=210902962"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        768
      ],
      "id": "a9ad3acc-70bf-496e-8302-bad191f53fba",
      "name": "Get Rows - Azure Subreddit",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/googlecloud/new.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-bot/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        -16
      ],
      "id": "9d1d4f10-1d7c-48f1-9bca-abe3dba2a48a",
      "name": "RSS Read - GCP Subreddit1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        240,
        -16
      ],
      "id": "8ea217a5-db2e-4a8c-965c-f7766318cb1e",
      "name": "XML to JSON - GCP Subreddit"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return html\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\n\\s*\\n/g, '\\n')\n    .trim();\n}\n\nconst feed = $input.first().json.feed;\nconst entries = feed.entry || [];\n\nreturn entries.map(entry => {\n  const contentHtml = entry.content?._ || '';\n  const snippet = stripHtml(contentHtml).slice(0, 300);\n\n  return {\n    title: entry.title,\n    link: entry.link?.href,\n    pubDate: new Date(entry.published).toISOString(),\n    isoDate: new Date(entry.published).toISOString(),\n    author: entry.author?.name,\n    content: contentHtml,\n    contentSnippet: snippet,\n    id: entry.id\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -16
      ],
      "id": "96495a89-7061-4e50-a4ec-e6d739b0b9f8",
      "name": "GCP Subreddit Formatted data"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/AZURE/new.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-bot/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        576
      ],
      "id": "3f766200-47c2-4a9a-968d-4bebd78561e2",
      "name": "RSS Read - Azure Subreddit2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        240,
        576
      ],
      "id": "cb192410-fd5f-49f3-8c80-fbfe7d87e38f",
      "name": "XML to JSON - Azure Subreddit1"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return html\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\n\\s*\\n/g, '\\n')\n    .trim();\n}\n\nconst feed = $input.first().json.feed;\nconst entries = feed.entry || [];\n\nreturn entries.map(entry => {\n  const contentHtml = entry.content?._ || '';\n  const snippet = stripHtml(contentHtml).slice(0, 300);\n\n  return {\n    title: entry.title,\n    link: entry.link?.href,\n    pubDate: new Date(entry.published).toISOString(),\n    isoDate: new Date(entry.published).toISOString(),\n    author: entry.author?.name,\n    content: contentHtml,\n    contentSnippet: snippet,\n    id: entry.id\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        576
      ],
      "id": "20747570-fc84-4397-86ee-3347fb93225c",
      "name": "Azure Subreddit Formatted data1"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/devops/new.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-bot/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        1168
      ],
      "id": "b56ec79d-4c43-4a03-a04a-11f6d23e5766",
      "name": "RSS Read - DevOps Subreddit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        256,
        1168
      ],
      "id": "a44b90fc-8117-41da-9de3-a6d59db0a012",
      "name": "XML to JSON - DevOps Subreddit"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return html\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\n\\s*\\n/g, '\\n')\n    .trim();\n}\n\nconst feed = $input.first().json.feed;\nconst entries = feed.entry || [];\n\nreturn entries.map(entry => {\n  const contentHtml = entry.content?._ || '';\n  const snippet = stripHtml(contentHtml).slice(0, 300);\n\n  return {\n    title: entry.title,\n    link: entry.link?.href,\n    pubDate: new Date(entry.published).toISOString(),\n    isoDate: new Date(entry.published).toISOString(),\n    author: entry.author?.name,\n    content: contentHtml,\n    contentSnippet: snippet,\n    id: entry.id\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1168
      ],
      "id": "749592e6-efbe-4de2-9a10-6be2a4d02abf",
      "name": "DevOps Subreddit Formatted data"
    }
  ],
  "connections": {
    "Edit RSS read": {
      "main": [
        [
          {
            "node": "Check new unique entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Sheet Fields": {
      "main": [
        [
          {
            "node": "Check new unique entries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Analyse Comment - n8n Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Rows - GCP Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit RSS read1": {
      "main": [
        [
          {
            "node": "Check new Unique rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Sheet Fields1": {
      "main": [
        [
          {
            "node": "Check new Unique rows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Analyse Comments - AIAutomations Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Rows - AZURE Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check new unique entries": {
      "main": [
        [
          {
            "node": "Add Rows - GCP Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Not Evaluated": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Comment - n8n Subreddit": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check new Unique rows": {
      "main": [
        [
          {
            "node": "Add rows - AZURE Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Not Evaluated1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Comments - AIAutomations Subreddit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit RSS read2": {
      "main": [
        [
          {
            "node": "Check new Unique rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Sheet Fields2": {
      "main": [
        [
          {
            "node": "Check new Unique rows1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Analyse Comments - AIAutomations Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me3": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Rows - DevOps Subreddit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check new Unique rows1": {
      "main": [
        [
          {
            "node": "Add rows - DevOps Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Not Evaluated2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Comments - AIAutomations Subreddit1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Comment - n8n Subreddit",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Analyse Comments - AIAutomations Subreddit",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Analyse Comments - AIAutomations Subreddit1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Rows - Azure Subreddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Rows - DevOps Subreddit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Rows - GCP Subreddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read - GCP Subreddit1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read - Azure Subreddit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read - DevOps Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update TO Do - AZURE Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update TO Do - DevOps Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update To Do - GCP Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - GCP Subreddit": {
      "main": [
        [
          {
            "node": "Edit Sheet Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - GCP Subreddit1": {
      "main": [
        [
          {
            "node": "If - Not Evaluated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update To Do - GCP Subreddit": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - AZURE Subreddit1": {
      "main": [
        [
          {
            "node": "If - Not Evaluated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update TO Do - AZURE Subreddit": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - DevOps Subreddit2": {
      "main": [
        [
          {
            "node": "Edit Sheet Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - DevOps Subreddit3": {
      "main": [
        [
          {
            "node": "If - Not Evaluated2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update TO Do - DevOps Subreddit1": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - GCP Subreddit": {
      "main": [
        []
      ]
    },
    "Get Rows - Azure Subreddit": {
      "main": [
        [
          {
            "node": "Edit Sheet Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - GCP Subreddit1": {
      "main": [
        [
          {
            "node": "XML to JSON - GCP Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON - GCP Subreddit": {
      "main": [
        [
          {
            "node": "GCP Subreddit Formatted data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCP Subreddit Formatted data": {
      "main": [
        [
          {
            "node": "Edit RSS read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - Azure Subreddit2": {
      "main": [
        [
          {
            "node": "XML to JSON - Azure Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON - Azure Subreddit1": {
      "main": [
        [
          {
            "node": "Azure Subreddit Formatted data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure Subreddit Formatted data1": {
      "main": [
        [
          {
            "node": "Edit RSS read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - DevOps Subreddit": {
      "main": [
        [
          {
            "node": "XML to JSON - DevOps Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON - DevOps Subreddit": {
      "main": [
        [
          {
            "node": "DevOps Subreddit Formatted data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps Subreddit Formatted data": {
      "main": [
        [
          {
            "node": "Edit RSS read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-03T21:00:51.005+00:00",
          "Readable date": "February 3rd 2026, 9:00:51 pm",
          "Readable time": "9:00:51 pm",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "03",
          "Hour": "21",
          "Minute": "00",
          "Second": "51",
          "Timezone": "UTC (UTC+00:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "92b5b15b-6052-404b-b11e-51cdc227e2ee",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-05T11:55:30.684Z",
      "createdAt": "2026-02-05T11:55:30.684Z",
      "role": "workflow:owner",
      "workflowId": "UsJ70dsmAzdPqcuS",
      "projectId": "Bp7b9VxwF2dQ527l"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-01-08T11:00:14.948Z",
      "createdAt": "2026-01-08T11:00:14.948Z",
      "id": "SDgn1UJUDZyNkQFc",
      "name": "Cloud"
    }
  ]
}