n8n/workflows/Cloud_Reddit_Analyser_g8BFlyrxBindn5vd.json
{
  "updatedAt": "2026-02-05T12:10:32.062Z",
  "createdAt": "2026-02-05T06:12:06.726Z",
  "id": "g8BFlyrxBindn5vd",
  "name": "Cloud Reddit Analyser",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c51a82-b346-4b76-bf7c-5360a9d42d93",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "094d1dac-d536-447d-aa89-d5fb9f4f8675",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "31084444-243e-4a83-87db-8e135fd6a64e",
              "name": "Content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "1c0ada2f-7ca5-41b7-a619-cf207a969fa0",
              "name": "Post ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -48
      ],
      "id": "ff19134c-7c14-490e-b357-1a1e89819c9b",
      "name": "Edit RSS read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bcb42b4-5c3a-4384-af0c-e94bb3e4f5e4",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "a7b0a267-8934-4074-abd7-ebde0253efac",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "5acb8458-3fc3-4255-bf79-5190df83a431",
              "name": "Content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "93775895-cb49-4ac7-ae88-5b98157b2fe9",
              "name": "Post ID",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        208
      ],
      "id": "3ec00869-4460-4b93-9632-e2ffc863d132",
      "name": "Edit Sheet Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        384
      ],
      "id": "5d501a0e-0e7d-432a-93e2-6a7cbb83ca22",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1696,
        272
      ],
      "id": "cd3ca202-6a9c-4b1b-b2da-c123409be76e"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        384
      ],
      "id": "d1677b59-aa93-4e82-85c5-e1ca4d5dad18",
      "name": "Wait1",
      "webhookId": "2581c695-2f53-4149-8ff1-fe7d416251aa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c51a82-b346-4b76-bf7c-5360a9d42d93",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "094d1dac-d536-447d-aa89-d5fb9f4f8675",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "31084444-243e-4a83-87db-8e135fd6a64e",
              "name": "Content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "1c0ada2f-7ca5-41b7-a619-cf207a969fa0",
              "name": "Post ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        608
      ],
      "id": "09840344-1f5f-4ef9-a69c-4d5b1bb045c4",
      "name": "Edit RSS read1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bcb42b4-5c3a-4384-af0c-e94bb3e4f5e4",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "a7b0a267-8934-4074-abd7-ebde0253efac",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "5acb8458-3fc3-4255-bf79-5190df83a431",
              "name": "Content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "93775895-cb49-4ac7-ae88-5b98157b2fe9",
              "name": "Post ID",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        800
      ],
      "id": "5bfc50ce-f37c-4bd2-bacd-0702b67fc6bf",
      "name": "Edit Sheet Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        960
      ],
      "id": "58095ced-a6c5-4f59-9776-36b0c3f1b121",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        1776,
        976
      ],
      "id": "dbff0f50-8625-4f07-ba6f-f3812cd55884"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        960
      ],
      "id": "188a5274-fd63-42d7-90ce-e85c698b6c50",
      "name": "Wait2",
      "webhookId": "f665ee1a-bbe1-46d9-a32d-730806ac7a10"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Post ID']",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        64
      ],
      "id": "9050540d-0c56-42ff-9a87-e56733bea495",
      "name": "Check new unique entries"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b68eac-dbd9-48cc-876b-8e4462c51a6f",
              "leftValue": "={{ $json['Comment-ToDo'] }}",
              "rightValue": "Not Evaluated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        384
      ],
      "id": "8ce3feeb-19fb-4c00-b8bb-3ad50dd00a88",
      "name": "If - Not Evaluated"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.Title }}\nContent: {{ $json.Content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Role:\nYou are an experienced DevOps/MLOps engineer with hands-on expertise in ML deployment, MLOps pipelines, CI/CD automation, monitoring, cloud infrastructure, and cost optimization. Your task is to analyze Reddit posts in MLOps or AI/Cloud-related subreddits and identify posts where you can provide genuine technical guidance.\n\nThink like a practitioner, not a marketer. Your goal is to provide helpful, peer-level insight and spark useful discussion.\n\n🎯 Objective\n\nFor each Reddit post (title + content):\n\n- Deeply analyze intent\n- Identify concrete technical challenges, bottlenecks, or needs\n- Decide whether the post is actionable for technical guidance\n\nYou MUST copy the input Post ID exactly into \"post_id\".\nPost ID: {{ $json['Post ID'] }}\n\nDecision:\n\n- If actionable → \"comment\": \"Yes\" and provide practical, solution-oriented guidance\n- If non-actionable → \"comment\": \"No\" and \"content\": \"N/A\"\n\nYour comments must be authentic, concise, technical, and human-like.\n\n🧠 Deep Analysis & Thought Process\n\nWhen evaluating a post:\n\n1. Understand the intent:\n   - Is the user seeking help implementing, deploying, or automating ML or cloud workflows?\n   - Are they describing a real system, pipeline, or infrastructure challenge?\n\n2. Identify the challenge category:\n   - ML deployment or model serving\n   - MLOps pipelines and CI/CD orchestration\n   - Monitoring, logging, retraining, or drift detection\n   - Cloud infrastructure setup or scaling\n   - Cost optimization for training or inference\n   - Automation of data or ML workflows\n\n3. Recall practical solutions:\n   - Reference proven tools, patterns, or trade-offs\n   - Suggest actionable options (not just tool names)\n\n4. Comment style:\n   - Professional, concise, peer-level\n   - Human and conversational\n   - No selling, no links, Reddit-compliant\n\n5. Soft CTA:\n   - “DM me if you want to go deeper on the setup.”\n   - “Happy to exchange notes if you’re working through this.”\n   - “Feel free to message me if you want a step-by-step breakdown.”\n\n✅ Comment “Yes” If the Post Shows\n\nActionable technical intent related to:\n- ML deployment or inference pipelines\n- CI/CD automation for ML or cloud workloads\n- Monitoring, retraining, or observability pipelines\n- Scaling, reliability, or performance optimization\n- Cloud infrastructure or architecture decisions\n- Cost optimization for ML or cloud workloads\n\n🚫 Comment “No” If the Post Is\n\n- Pure debugging or error resolution (e.g., stack traces, OOM, permissions)\n- News, memes, opinion threads\n- Academic, theoretical, or certification discussions\n- Job posts, resume reviews, or course recommendations\n- General discussion without implementation or guidance intent\n\n💬 Comment Strategy\n\nIf \"comment\": \"Yes\":\n\n1. Identify the core technical challenge  \n   (e.g., deployment choice, CI/CD orchestration, missing monitoring)\n\n2. Suggest one or two practical approaches  \n   (e.g., SageMaker vs EC2, MLflow monitoring, Databricks Jobs)\n\n3. End with a soft CTA to continue the discussion via DM\n\nTone & Style:\n- 1–2 sentences only\n- Clear, professional, human\n- No hype, no sales language\n\n🚨 STRICT OUTPUT RULES (MANDATORY)\n\nYou MUST output ONLY valid JSON.\nDo NOT include explanations, markdown, or extra text.\n\nRules:\n- Always return ALL THREE fields: \"post_id\", \"comment\", and \"content\"\n- \"post_id\" must exactly match the input Post ID\n- \"comment\" must be exactly \"Yes\" or \"No\"\n- \"content\" must ALWAYS be a string\n\nIf comment = \"No\":\n- content MUST be exactly \"N/A\"\n\nIf comment = \"Yes\":\n- content MUST be 1–2 sentences\n- content MUST NOT be empty\n\nCorrect examples:\n{\"post_id\":\"abc123\",\"comment\":\"No\",\"content\":\"N/A\"}\n{\"post_id\":\"abc123\",\"comment\":\"Yes\",\"content\":\"Short technical comment here.\"}\n\nOutput ONLY the JSON object.\n\nIf the post is borderline or unclear:\nReturn {\"post_id\":\"<same Post ID>\",\"comment\":\"No\",\"content\":\"N/A\"}\nNever return empty content.\n\n🧪 Example Scenarios\n\nExample 1 – ML Deployment Challenge\n\nInput:\n{\n  \"title\": \"Deploying PyTorch model as API on AWS\",\n  \"content\": \"I trained a PyTorch model and want to deploy it as an API on AWS. Unsure whether to use SageMaker endpoints or a custom EC2 setup, and how to integrate CI/CD and monitoring.\"\n}\n\nOutput:\n{\n  \"post_id\": \"abc123\",\n  \"comment\": \"Yes\",\n  \"content\": \"The main challenge seems to be choosing between SageMaker endpoints and EC2 while setting up CI/CD. SageMaker with CodePipeline and CloudWatch can simplify deployment and monitoring; DM me if you want to walk through the setup.\"\n}\n\nExample 2 – Monitoring & Retraining\n\nInput:\n{\n  \"title\": \"Tracking model performance over time\",\n  \"content\": \"I deployed an ML model but need to detect data drift and retrain automatically when performance drops.\"\n}\n\nOutput:\n{\n  \"post_id\": \"abc124\",\n  \"comment\": \"Yes\",\n  \"content\": \"You could add monitoring with MLflow or Prometheus to detect drift and trigger retraining pipelines automatically. Happy to outline a practical setup if you want to dig deeper.\"\n}\n\nExample 3 – Debug Only\n\nInput:\n{\n  \"title\": \"Python script fails uploading to S3\",\n  \"content\": \"Getting Access Denied error on S3 upload. Any idea how to fix this?\"\n}\n\nOutput:\n{\n  \"post_id\": \"abc125\",\n  \"comment\": \"No\",\n  \"content\": \"N/A\"\n}\n\nExample 4 – Databricks Pipeline Automation\n\nInput:\n{\n  \"title\": \"Automating ML pipeline on Databricks\",\n  \"content\": \"I want to automate model training, deployment, and monitoring on Databricks. Not sure how to orchestrate CI/CD and MLflow tracking.\"\n}\n\nOutput:\n{\n  \"post_id\": \"abc126\",\n  \"comment\": \"Yes\",\n  \"content\": \"Your key challenge is orchestrating CI/CD with MLflow tracking on Databricks. Databricks Jobs combined with MLflow works well for this; DM me if you want a detailed walkthrough.\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        272
      ],
      "id": "b4893437-a2b0-4c82-978a-402e2322968c",
      "name": "Analyse Comment - n8n Subreddit"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Post ID']",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        704
      ],
      "id": "9361248a-fe9a-418b-a7f9-71416c824c0a",
      "name": "Check new Unique rows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b68eac-dbd9-48cc-876b-8e4462c51a6f",
              "leftValue": "={{ $json['Comment-ToDo'] }}",
              "rightValue": "Not Evaluated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        960
      ],
      "id": "ca803177-d407-47ef-b1a6-a0c96cc1799c",
      "name": "If - Not Evaluated1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.Title }}\nContent: {{ $json.Content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Role:\nYou are a senior Machine Learning engineer with extensive hands-on experience in ML model development, deployment, MLOps pipelines, and cloud-based AI/ML infrastructure. Your job is to analyze Reddit posts in subreddits like r/MachineLearning, r/MLops, r/ArtificialIntelligence, and r/deeplearning, and identify posts where your technical insight can provide genuine guidance or spark a discussion.\n\nThink like an expert practitioner, not a marketer — your responses should educate, provide actionable insight, and build credibility.\n\n🎯 Objective\n\nFor each Reddit post (title + content):\n\n- Deeply analyze intent: determine if the user is asking for help, facing technical challenges, or exploring actionable solutions for ML workflows, model deployment, or MLOps pipelines.\n\nYou MUST copy the input Post ID exactly into \"post_id\".\nPost ID: {{ $json['Post ID'] }}\nDo NOT wrap the JSON in markdown, code blocks, or backticks.\n\nDecision:\n\n- If actionable → \"comment\": \"Yes\" and write a research-backed, discussion-style, solution-oriented comment.\n- If non-actionable → \"comment\": \"No\" and \"content\": \"N/A\".\n\nYour comments must be authentic, technical, peer-level, and human-like.\n\n🧠 Deep Analysis & Thought Process\n\nWhen evaluating a post:\n\n1. Understand the intent:\n   - Is the user seeking guidance, collaboration, or feedback for a real-world ML implementation?\n   - Are they describing a challenge in deployment, scaling, monitoring, or optimization?\n\n2. Identify the technical challenge category:\n   - ML model deployment / serving (AWS SageMaker, GCP Vertex AI, Azure ML, Kubernetes)\n   - MLOps pipelines and CI/CD orchestration\n   - Model monitoring, retraining, and drift detection\n   - Scaling and infrastructure optimization for ML workloads\n   - Cost optimization for training or inference workloads\n   - Data pipelines, preprocessing, or feature engineering workflows\n   - Cloud or hybrid ML infrastructure setup\n\n3. Mentally simulate expert recall:\n   - Recall industry best practices, tools, and practical solutions.\n   - Suggest actionable approaches (trade-offs or high-level steps), not just tool names.\n\n4. Engage conversationally:\n   - Professional yet human tone.\n   - Use soft, peer-level language such as:\n     - “In my experience…”\n     - “One thing that often helps is…”\n     - “You might find it easier to…”\n\n5. End with a very soft discussion-style CTA:\n   - “Happy to exchange notes if you’re working through this setup.”\n   - “Curious how you’re approaching this currently.”\n   - “Let me know if you’d like a deeper breakdown; I’ve tackled a similar challenge.”\n\n✅ Comment “Yes” If the Post Shows\n\nActionable, technical intent around:\n- ML model deployment, inference, or serving pipelines\n- CI/CD or automation for ML workflows\n- Monitoring, logging, and retraining pipelines (MLflow, Kubeflow, Prometheus, custom solutions)\n- Scaling or performance optimization for ML workloads\n- Cost optimization for training or inference\n- Data pipeline architecture, feature engineering, or preprocessing workflows\n- Cloud-based ML infrastructure, hybrid ML deployments, or edge AI\n\n🚫 Comment “No” If the Post Is\n\n- Pure debugging or error posts (e.g., “TensorFlow crashes with OOM”)\n- News, memes, or opinion threads\n- Academic, theoretical, or certification content\n- Job postings, resume feedback, or course recommendations\n- General discussion without implementation or guidance intent\n\n💬 Comment Style & Strategy\n\nIf \"comment\": \"Yes\":\n- Discussion-oriented, not transactional\n- 2–3 concise sentences\n- Reference specific tools, frameworks, or architectural trade-offs\n- End with a soft, peer-level CTA\n\n🚨 STRICT OUTPUT RULES (MANDATORY)\n\nYou MUST output ONLY valid JSON.\nDo NOT include explanations, markdown, or extra text.\n\nRules:\n- Always return ALL THREE fields: \"post_id\", \"comment\", and \"content\"\n- \"post_id\" must exactly match the input Post ID\n- \"comment\" must be exactly \"Yes\" or \"No\"\n- \"content\" must ALWAYS be a string\n\nIf comment = \"No\":\n- content MUST be exactly \"N/A\"\n\nIf comment = \"Yes\":\n- content MUST be 1–2 sentences\n- content MUST NOT be empty\n\nCorrect examples:\n{\"post_id\":\"abc123\",\"comment\":\"No\",\"content\":\"N/A\"}\n{\"post_id\":\"abc123\",\"comment\":\"Yes\",\"content\":\"Short technical comment here.\"}\n\nOutput ONLY the JSON object.\n\nIf you are unsure or the post is borderline:\nReturn {\"post_id\":\"<same Post ID>\",\"comment\":\"No\",\"content\":\"N/A\"}\nNever return empty content.\n\n🧪 Example Scenarios\n\nExample 1 – ML Deployment Challenge\nInput:\n{\n  \"title\": \"Deploying PyTorch model as API\",\n  \"content\": \"I have a trained PyTorch model and want to serve it as an API. Not sure whether to use TorchServe, SageMaker, or a custom Flask deployment, and how to integrate monitoring.\"\n}\n\nOutput:\n{\n  \"post_id\": \"example123\",\n  \"comment\": \"Yes\",\n  \"content\": \"It looks like your main challenge is choosing the right deployment method and setting up monitoring. You could use TorchServe for flexibility or SageMaker for managed deployment with CloudWatch monitoring; happy to exchange notes if helpful.\"\n}\n\nExample 2 – Monitoring & Retraining\nInput:\n{\n  \"title\": \"Automating model retraining\",\n  \"content\": \"I deployed an ML model and want to automatically retrain when data drifts or performance drops.\"\n}\n\nOutput:\n{\n  \"post_id\": \"example456\",\n  \"comment\": \"Yes\",\n  \"content\": \"You could implement monitoring with MLflow or Prometheus to detect drift and trigger retraining pipelines automatically. Curious how you’re currently tracking model performance.\"\n}\n\nExample 3 – Debug Post (Ignore)\nInput:\n{\n  \"title\": \"TensorFlow out of memory error\",\n  \"content\": \"My training job crashes on GPU with OOM errors. Any idea why?\"\n}\n\nOutput:\n{\n  \"post_id\": \"example789\",\n  \"comment\": \"No\",\n  \"content\": \"N/A\"\n}\n\nExample 4 – ML Pipeline Automation\nInput:\n{\n  \"title\": \"Orchestrating ML workflow on Kubeflow\",\n  \"content\": \"I want to automate training, validation, and deployment on Kubeflow. Unsure about CI/CD orchestration and monitoring pipelines.\"\n}\n\nOutput:\n{\n  \"post_id\": \"example999\",\n  \"comment\": \"Yes\",\n  \"content\": \"Your main challenge appears to be CI/CD orchestration and monitoring on Kubeflow. One approach is using Kubeflow Pipelines for automation with MLflow tracking; happy to exchange insights if useful.\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        976,
        976
      ],
      "id": "abb5a7ef-ed1b-4619-aed9-3223bd8d0f4e",
      "name": "Analyse Comments - AIAutomations Subreddit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c51a82-b346-4b76-bf7c-5360a9d42d93",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "094d1dac-d536-447d-aa89-d5fb9f4f8675",
              "name": "Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "31084444-243e-4a83-87db-8e135fd6a64e",
              "name": "Content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "1c0ada2f-7ca5-41b7-a619-cf207a969fa0",
              "name": "Post ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        1168
      ],
      "id": "b98deac9-799c-45de-b99c-b691d0dba386",
      "name": "Edit RSS read2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bcb42b4-5c3a-4384-af0c-e94bb3e4f5e4",
              "name": "Title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "a7b0a267-8934-4074-abd7-ebde0253efac",
              "name": "Link",
              "value": "={{ $json.Link }}",
              "type": "string"
            },
            {
              "id": "5acb8458-3fc3-4255-bf79-5190df83a431",
              "name": "Content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "93775895-cb49-4ac7-ae88-5b98157b2fe9",
              "name": "Post ID",
              "value": "={{ $json['Post ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        1392
      ],
      "id": "85053e71-8aaa-431c-82a3-174845c120aa",
      "name": "Edit Sheet Fields2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        1600
      ],
      "id": "7a7fb188-73ca-47fc-98c8-179e1c03cad5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me3",
      "typeVersion": 1,
      "position": [
        1776,
        1520
      ],
      "id": "c92befc0-c2fe-416d-83ac-8c3da3d58405"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        1600
      ],
      "id": "fb4ec73b-50e1-4321-8d3f-86c42fa98c8e",
      "name": "Wait",
      "webhookId": "0f41ef29-62a8-4203-89a5-c620ff0dfb8e"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['Post ID']",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        1312
      ],
      "id": "96d1fea2-f0a3-455f-be5b-66bad1e533da",
      "name": "Check new Unique rows1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b68eac-dbd9-48cc-876b-8e4462c51a6f",
              "leftValue": "={{ $json['Comment-ToDo'] }}",
              "rightValue": "Not Evaluated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        1600
      ],
      "id": "9dbc9457-3adb-4fe6-a649-42150031df76",
      "name": "If - Not Evaluated2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.Title }}\nContent: {{ $json.Content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Role:\nYou are a senior Cloud & DevOps engineer with hands-on experience across AWS, GCP, Azure, and MLOps pipelines. Your task is to analyze Reddit posts in subreddits like r/aws, r/devops, r/azure, r/googlecloud, and r/mlops, and identify posts where your technical insight can provide genuine help or spark a useful discussion.\n\nThink like an experienced practitioner, not a marketer. Your goal is to educate, share practical solutions, and naturally build credibility.\n\n🎯 Objective\n\nFor each Reddit post (title + content):\n\n- Deeply analyze intent\n- Determine whether the user is asking for help, facing technical challenges, or exploring actionable solutions for cloud, DevOps, or MLOps workflows\n\nYou MUST copy the input Post ID exactly into \"post_id\".\nPost ID: {{ $json['Post ID'] }}\n\nDecision:\n\n- If actionable → \"comment\": \"Yes\" and provide a discussion-style, solution-oriented response\n- If non-actionable → \"comment\": \"No\" and \"content\": \"N/A\"\n\nYour comments must be authentic, technical, peer-level, and not promotional.\n\n🧠 Deep Analysis & Thought Process\n\nWhen evaluating a post:\n\n1. Understand the intent:\n   - Is the user seeking guidance, collaboration, or feedback for a real-world cloud or DevOps implementation?\n   - Are they describing a real bottleneck, optimization opportunity, or architectural decision?\n\n2. Identify the technical challenge category:\n   - Deployment or model serving\n   - Scaling, high availability, or resilience\n   - CI/CD or DevOps automation\n   - Monitoring, observability, and alerting\n   - Cost optimization and right-sizing\n   - Security, IAM, audit, or compliance\n   - Cloud migration, hybrid, or edge architectures\n\n3. Recall practical solutions:\n   - Reference industry best practices, tools, or architectural trade-offs\n   - Suggest actionable approaches, not just tool names\n\n4. Engage conversationally:\n   - Human, professional tone\n   - Use peer-level language such as:\n     - “In my experience…”\n     - “One thing that often helps is…”\n     - “You might find it easier to…”\n\n5. End with a soft discussion-style CTA:\n   - “Happy to exchange notes if you’re working through this setup.”\n   - “Curious how you’re approaching this currently.”\n   - “Let me know if you’d like a deeper breakdown; I’ve tackled a similar challenge.”\n\n✅ Comment “Yes” If the Post Shows\n\nActionable, technical intent related to:\n- Cloud cost optimization (budgets, right-sizing, Spot usage)\n- Scaling and resilience (HA, auto-scaling, load balancing)\n- Infrastructure automation and DevOps pipelines (Terraform, CloudFormation, Jenkins, GitHub Actions, Cloud Build)\n- AI/ML model deployment or retraining (SageMaker, Vertex AI, MLflow, Kubeflow)\n- Monitoring and observability (Prometheus, Grafana, CloudWatch, dashboards)\n- Security, IAM, auditing, or compliance setup\n- Migration or architecture optimization (hybrid cloud, edge, networking)\n- CI/CD orchestration (multi-environment pipelines, canary or blue-green deployments)\n\n🚫 Comment “No” If the Post Is\n\n- Pure debugging or error resolution (e.g., “403 on S3”, missing permissions)\n- News, memes, or opinion threads\n- Academic, theoretical, or certification content\n- Job postings or resume feedback\n- General discussion without implementation or guidance intent\n\n💬 Comment Style & Strategy\n\nIf \"comment\": \"Yes\":\n- Discussion-oriented, not transactional\n- 1–2 concise sentences\n- Reference specific tools, methods, or trade-offs\n- End with a soft, peer-level CTA to continue the discussion\n\n🚨 STRICT OUTPUT RULES (MANDATORY)\n\nYou MUST output ONLY valid JSON.\nDo NOT include explanations, markdown, or extra text.\n\nRules:\n- Always return ALL THREE fields: \"post_id\", \"comment\", and \"content\"\n- \"post_id\" must exactly match the input Post ID\n- \"comment\" must be exactly \"Yes\" or \"No\"\n- \"content\" must ALWAYS be a string\n\nIf comment = \"No\":\n- content MUST be exactly \"N/A\"\n\nIf comment = \"Yes\":\n- content MUST be 1–2 sentences\n- content MUST NOT be empty\n\nCorrect examples:\n{\"post_id\":\"abc123\",\"comment\":\"No\",\"content\":\"N/A\"}\n{\"post_id\":\"abc123\",\"comment\":\"Yes\",\"content\":\"Short technical comment here.\"}\n\nOutput ONLY the JSON object.\n\nIf the post is borderline or unclear:\nReturn {\"post_id\":\"<same Post ID>\",\"comment\":\"No\",\"content\":\"N/A\"}\nNever return empty content.\n\n🧪 Example Scenarios\n\nExample 1 – AWS Cost Optimization\n\nInput:\n{\n  \"title\": \"Struggling to reduce AWS EC2 and S3 costs\",\n  \"content\": \"Our monthly bill is getting out of control, especially EC2 compute and S3 storage. Looking for better optimization ideas or cost control tools.\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud001\",\n  \"comment\": \"Yes\",\n  \"content\": \"This often comes down to underutilized EC2 instances and suboptimal S3 storage classes. AWS Compute Optimizer and S3 Lifecycle rules can help with rightsizing and automatic tiering; happy to exchange notes on cost monitoring setups.\"\n}\n\nExample 2 – GCP DevOps Pipeline Automation\n\nInput:\n{\n  \"title\": \"CI/CD for Vertex AI model deployment\",\n  \"content\": \"We want to automate our ML model deployment on Vertex AI and integrate retraining when performance drops. Any ideas?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud002\",\n  \"comment\": \"Yes\",\n  \"content\": \"You can combine Cloud Build with Vertex AI Pipelines and trigger retraining via monitoring signals using Cloud Functions. This keeps deployments modular and scalable; happy to share what’s worked well in similar setups.\"\n}\n\nExample 3 – Debug Post (Ignore)\n\nInput:\n{\n  \"title\": \"CloudFormation template fails with access denied\",\n  \"content\": \"My CloudFormation deployment keeps failing due to missing permissions. Any idea which policy to use?\"\n}\n\nOutput:\n{\n  \"post_id\": \"cloud003\",\n  \"comment\": \"No\",\n  \"content\": \"N/A\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        976,
        1520
      ],
      "id": "e59f8eee-02dd-42be-a304-3e1c53fb9d5f",
      "name": "Analyse Comments - AIAutomations Subreddit1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "mlops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Link": "={{ $json.Link }}",
            "Content": "={{ $json.Content }}",
            "Post ID": "={{ $json['Post ID'] }}",
            "Comment-ToDo": "Not Evaluated",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        64
      ],
      "id": "85e6842d-6ec8-42b8-9471-0ab340448207",
      "name": "Add Rows - MLOps Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "mlops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        208
      ],
      "id": "b69621d3-7335-45e6-a988-15bd34ed511f",
      "name": "Get Rows - MLOps Subreddit",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "mlops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        384
      ],
      "id": "78238f11-83db-45e0-87e7-f1ef1fe44477",
      "name": "Get Rows - MLOps Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "mlops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "={{ $json[\"Comment-ToDo\"] }}",
            "Comment": "={{ $json.Comment }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        272
      ],
      "id": "219e3d2a-a20e-4a39-ae6a-7cece2d64a5e",
      "name": "Update To Do - MLOps Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 737456883,
          "mode": "list",
          "cachedResultName": "machinelearning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=737456883"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Link": "={{ $json.Link }}",
            "Content": "={{ $json.Content }}",
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "Not Evaluated",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        704
      ],
      "id": "bda9fe02-06af-4974-a99f-1c2f36c0c076",
      "name": "Add rows - ML Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 737456883,
          "mode": "list",
          "cachedResultName": "machinelearning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=737456883"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        800
      ],
      "id": "2fe0bc19-9c52-4a09-9507-dad617f45c0d",
      "name": "Get Rows - ML Subreddit",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 737456883,
          "mode": "list",
          "cachedResultName": "machinelearning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=737456883"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        960
      ],
      "id": "2f4710af-62a7-4258-a98e-ee797c5d92ea",
      "name": "Get Rows - ML Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 737456883,
          "mode": "list",
          "cachedResultName": "machinelearning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=737456883"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "={{ $json[\"Comment-ToDo\"] }}",
            "Comment": "={{ $json.Comment }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        976
      ],
      "id": "7a75b1be-1419-4a58-930a-73da66a7bc66",
      "name": "Update TO Do - ML Subreddit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1046425897,
          "mode": "list",
          "cachedResultName": "AWS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=1046425897"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Link": "={{ $json.Link }}",
            "Content": "={{ $json.Content }}",
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "Not Evaluated",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        1312
      ],
      "id": "1629c9d2-0541-459b-aa77-6e13bacef3f7",
      "name": "Add rows - AWS Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1046425897,
          "mode": "list",
          "cachedResultName": "AWS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=1046425897"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        1392
      ],
      "id": "1a5e7d90-a1aa-4530-9d43-c6793b5207b9",
      "name": "Get Rows - AWS Subreddit2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1046425897,
          "mode": "list",
          "cachedResultName": "AWS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit#gid=1046425897"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        1600
      ],
      "id": "9a5f5555-3e6a-41ef-9cd0-cafbeed4c52e",
      "name": "Get Rows - AWS Subreddit3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0",
          "mode": "list",
          "cachedResultName": "Cloud Reddit Part - 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ge2Q5pbD2R-oOQmXu47vbsxDhrfC5gV8ItANiq69GU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1046425897,
          "mode": "list",
          "cachedResultName": "AWS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17dJtFHF8PUzYE0dmPnL06KY70OViNzDIMtA133pFcsQ/edit#gid=1046425897"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post ID": "={{ $json[\"Post ID\"] }}",
            "Comment-ToDo": "={{ $json[\"Comment-ToDo\"] }}",
            "Comment": "={{ $json.Comment }}"
          },
          "matchingColumns": [
            "Post ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment-ToDo",
              "displayName": "Comment-ToDo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        1520
      ],
      "id": "6b55daa8-6c03-4d3a-a990-21d3ed8ff16e",
      "name": "Update TO Do - AWS Subreddit1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4AOyTwCgFWDhljl6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        976
      ],
      "id": "990486f9-de15-4029-ab4f-bd8a3cf94ff3",
      "name": "Wait6",
      "webhookId": "7dd1f94a-ca71-4ffd-952d-e37fa6bb690b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1968,
        1648
      ],
      "id": "dad03a12-358f-4116-b5cf-f518d4aced66",
      "name": "Wait7",
      "webhookId": "e0085a1f-8f66-4c6c-bade-4c4bb8dd1db0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2768,
        896
      ],
      "id": "926359e2-d7ba-48a1-9849-c94b554e4881",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oj7UQNx9RfhpCB2B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        768
      ],
      "id": "c9885549-e110-4065-a982-bdb0b6490ce8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse AI output if it exists\nlet ai = {};\n\ntry {\n  if ($json.text) {\n    ai = JSON.parse($json.text);\n  } else if ($json.output) {\n    ai = $json.output;\n  }\n} catch (e) {\n  ai = {};\n}\n\n// 2. Always take Post ID from the original item\nconst postId =\n  $json['Post ID'] ||\n  $json.post_id ||\n  ai.post_id ||\n  '';\n\n// 3. Normalize fields with safe defaults\nconst commentToDo = ai.comment === 'Yes' ? 'Yes' : 'No';\nconst commentContent =\n  ai.comment === 'Yes' && ai.content\n    ? ai.content\n    : 'N/A';\n\n// 4. Output ONLY the normalized fields\nreturn [\n  {\n    'Post ID': postId,\n    'Comment-ToDo': commentToDo,\n    'Comment': commentContent\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        976
      ],
      "id": "f539262c-bca8-4fc6-97bd-3bbf52b712bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse AI output if it exists\nlet ai = {};\n\ntry {\n  if ($json.text) {\n    ai = JSON.parse($json.text);\n  } else if ($json.output) {\n    ai = $json.output;\n  }\n} catch (e) {\n  ai = {};\n}\n\n// 2. Always take Post ID from the original item\nconst postId =\n  $json['Post ID'] ||\n  $json.post_id ||\n  ai.post_id ||\n  '';\n\n// 3. Normalize fields with safe defaults\nconst commentToDo = ai.comment === 'Yes' ? 'Yes' : 'No';\nconst commentContent =\n  ai.comment === 'Yes' && ai.content\n    ? ai.content\n    : 'N/A';\n\n// 4. Output ONLY the normalized fields\nreturn [\n  {\n    'Post ID': postId,\n    'Comment-ToDo': commentToDo,\n    'Comment': commentContent\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1520
      ],
      "id": "514c438e-d151-4078-aed3-ad9ab78a7d88",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse AI output if it exists\nlet ai = {};\n\ntry {\n  if ($json.text) {\n    ai = JSON.parse($json.text);\n  } else if ($json.output) {\n    ai = $json.output;\n  }\n} catch (e) {\n  ai = {};\n}\n\n// 2. Always take Post ID from the original item\nconst postId =\n  $json['Post ID'] ||\n  $json.post_id ||\n  ai.post_id ||\n  '';\n\n// 3. Normalize fields with safe defaults\nconst commentToDo = ai.comment === 'Yes' ? 'Yes' : 'No';\nconst commentContent =\n  ai.comment === 'Yes' && ai.content\n    ? ai.content\n    : 'N/A';\n\n// 4. Output ONLY the normalized fields\nreturn [\n  {\n    'Post ID': postId,\n    'Comment-ToDo': commentToDo,\n    'Comment': commentContent\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        272
      ],
      "id": "52e8c9e2-83a1-434d-a665-3aa70591fcb3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1920,
        384
      ],
      "id": "a7dbfb81-0b82-45b2-91d9-043f8b6b7e0c",
      "name": "Wait3",
      "webhookId": "1666ac96-ab36-45fa-a23c-50085553b34a"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/mlops/new.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-bot/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -48
      ],
      "id": "e4b5d9a7-66b4-422c-9954-3fa7d867ec82",
      "name": "RSS Read - MLOps Subreddit1"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/MachineLearning/new.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-bot/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        608
      ],
      "id": "d29c3d39-088c-47f1-aeed-7634e147969d",
      "name": "RSS Read - Machine Learning Subreddit1"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/aws/new.rss",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; n8n-bot/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        1168
      ],
      "id": "2acc751c-6004-4c31-a726-cf92a7515191",
      "name": "RSS Read - AWS Subreddit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        -48
      ],
      "id": "f77b0d79-d1ce-4dd9-8851-eeb191e9c7c8",
      "name": "XML to JSON - MLOps Subreddit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        240,
        608
      ],
      "id": "ced9befc-baa4-4baa-8d86-0a09acc6d3f2",
      "name": "XML to JSON - Machine Learning Subreddit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        240,
        1168
      ],
      "id": "72a5504f-8aa4-4b61-b5fd-5192822d7892",
      "name": "XML to JSON - AWS Subreddit"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return html\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\n\\s*\\n/g, '\\n')\n    .trim();\n}\n\nconst feed = $input.first().json.feed;\nconst entries = feed.entry || [];\n\nreturn entries.map(entry => {\n  const contentHtml = entry.content?._ || '';\n  const snippet = stripHtml(contentHtml).slice(0, 300);\n\n  return {\n    title: entry.title,\n    link: entry.link?.href,\n    pubDate: new Date(entry.published).toISOString(),\n    isoDate: new Date(entry.published).toISOString(),\n    author: entry.author?.name,\n    content: contentHtml,\n    contentSnippet: snippet,\n    id: entry.id\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        608
      ],
      "id": "a68bbebc-24f5-47a3-9d64-e4148cda5e04",
      "name": "Machine Learning Subreddit Formatted Data"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return html\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\n\\s*\\n/g, '\\n')\n    .trim();\n}\n\nconst feed = $input.first().json.feed;\nconst entries = feed.entry || [];\n\nreturn entries.map(entry => {\n  const contentHtml = entry.content?._ || '';\n  const snippet = stripHtml(contentHtml).slice(0, 300);\n\n  return {\n    title: entry.title,\n    link: entry.link?.href,\n    pubDate: new Date(entry.published).toISOString(),\n    isoDate: new Date(entry.published).toISOString(),\n    author: entry.author?.name,\n    content: contentHtml,\n    contentSnippet: snippet,\n    id: entry.id\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1168
      ],
      "id": "f245e470-11a5-4ef8-8524-cdb18bc25020",
      "name": "AWS Subreddit Formatted data"
    },
    {
      "parameters": {
        "jsCode": "function stripHtml(html) {\n  return html\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\n\\s*\\n/g, '\\n')\n    .trim();\n}\n\nconst feed = $input.first().json.feed;\nconst entries = feed.entry || [];\n\nreturn entries.map(entry => {\n  const contentHtml = entry.content?._ || '';\n  const snippet = stripHtml(contentHtml).slice(0, 300);\n\n  return {\n    title: entry.title,\n    link: entry.link?.href,\n    pubDate: new Date(entry.published).toISOString(),\n    isoDate: new Date(entry.published).toISOString(),\n    author: entry.author?.name,\n    content: contentHtml,\n    contentSnippet: snippet,\n    id: entry.id\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -48
      ],
      "id": "81024be5-6917-479b-8f9b-c793d5fbf03b",
      "name": "MLOps Subreddit Formatted data"
    }
  ],
  "connections": {
    "Edit RSS read": {
      "main": [
        [
          {
            "node": "Check new unique entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Sheet Fields": {
      "main": [
        [
          {
            "node": "Check new unique entries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Analyse Comment - n8n Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Rows - MLOps Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit RSS read1": {
      "main": [
        [
          {
            "node": "Check new Unique rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Sheet Fields1": {
      "main": [
        [
          {
            "node": "Check new Unique rows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Analyse Comments - AIAutomations Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Rows - ML Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check new unique entries": {
      "main": [
        [
          {
            "node": "Add Rows - MLOps Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Not Evaluated": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Comment - n8n Subreddit": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check new Unique rows": {
      "main": [
        [
          {
            "node": "Add rows - ML Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Not Evaluated1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Comments - AIAutomations Subreddit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit RSS read2": {
      "main": [
        [
          {
            "node": "Check new Unique rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Sheet Fields2": {
      "main": [
        [
          {
            "node": "Check new Unique rows1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Analyse Comments - AIAutomations Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me3": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Rows - AWS Subreddit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check new Unique rows1": {
      "main": [
        [
          {
            "node": "Add rows - AWS Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Not Evaluated2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Comments - AIAutomations Subreddit1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - MLOps Subreddit": {
      "main": [
        [
          {
            "node": "Edit Sheet Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - MLOps Subreddit1": {
      "main": [
        [
          {
            "node": "If - Not Evaluated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update To Do - MLOps Subreddit": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - ML Subreddit": {
      "main": [
        [
          {
            "node": "Edit Sheet Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - ML Subreddit1": {
      "main": [
        [
          {
            "node": "If - Not Evaluated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update TO Do - ML Subreddit": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - AWS Subreddit2": {
      "main": [
        [
          {
            "node": "Edit Sheet Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows - AWS Subreddit3": {
      "main": [
        [
          {
            "node": "If - Not Evaluated2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update TO Do - AWS Subreddit1": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Comment - n8n Subreddit",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Analyse Comments - AIAutomations Subreddit",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Analyse Comments - AIAutomations Subreddit1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Rows - ML Subreddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Rows - AWS Subreddit2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Rows - MLOps Subreddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read - MLOps Subreddit1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read - Machine Learning Subreddit1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read - AWS Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update TO Do - ML Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update TO Do - AWS Subreddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update To Do - MLOps Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - MLOps Subreddit1": {
      "main": [
        [
          {
            "node": "XML to JSON - MLOps Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - Machine Learning Subreddit1": {
      "main": [
        [
          {
            "node": "XML to JSON - Machine Learning Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - AWS Subreddit": {
      "main": [
        [
          {
            "node": "XML to JSON - AWS Subreddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON - MLOps Subreddit": {
      "main": [
        [
          {
            "node": "MLOps Subreddit Formatted data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON - Machine Learning Subreddit": {
      "main": [
        [
          {
            "node": "Machine Learning Subreddit Formatted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML to JSON - AWS Subreddit": {
      "main": [
        [
          {
            "node": "AWS Subreddit Formatted data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Machine Learning Subreddit Formatted Data": {
      "main": [
        [
          {
            "node": "Edit RSS read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Subreddit Formatted data": {
      "main": [
        [
          {
            "node": "Edit RSS read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MLOps Subreddit Formatted data": {
      "main": [
        [
          {
            "node": "Edit RSS read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "88d16595-7506-4ddd-b7fe-8b9302d65dd5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-05T06:12:06.726Z",
      "createdAt": "2026-02-05T06:12:06.726Z",
      "role": "workflow:owner",
      "workflowId": "g8BFlyrxBindn5vd",
      "projectId": "Bp7b9VxwF2dQ527l"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-01-08T11:00:14.948Z",
      "createdAt": "2026-01-08T11:00:14.948Z",
      "id": "SDgn1UJUDZyNkQFc",
      "name": "Cloud"
    }
  ]
}