n8n/workflows/Gmail_to_Slack_Email_Automation__Email_From_Slack_NdFJftzqLPxygA04.json
{
  "updatedAt": "2026-01-13T05:47:47.804Z",
  "createdAt": "2026-01-11T18:07:45.840Z",
  "id": "NdFJftzqLPxygA04",
  "name": "Gmail to Slack Email Automation- Email From Slack",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f5982b93-1bff-41b4-a55b-3575a97631dc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        0
      ],
      "id": "e09934df-28c9-4119-8349-c07ced8d7667",
      "name": "Capture Reply Button Events",
      "webhookId": "f5982b93-1bff-41b4-a55b-3575a97631dc"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  // Slack sends payload as a string → parse it\nconst rawPayload = item.json.body.payload;\n\nconst parsedPayload = typeof rawPayload === 'string'\n  ? JSON.parse(rawPayload)\n  : rawPayload;\n\nreturn [\n  {\n    json: {\n      payload: parsedPayload\n    }\n  }\n];\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        0
      ],
      "id": "590ae095-ef2b-4731-8880-7fdbaf562b52",
      "name": "Parse Payload Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "366ee3a6-7721-429c-bbab-99dced2d28ca",
              "leftValue": "={{ $json.payload.type }}",
              "rightValue": "block_actions",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        944,
        0
      ],
      "id": "4580c2f7-75c6-49d2-b580-99bb7d9d4f9a",
      "name": "Check Payload Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/views.open",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ slack o-auth token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"trigger_id\": \"{{ $json.payload.trigger_id }}\",\n  \"view\": {\n    \"type\": \"modal\",\n    \"title\": {\n      \"type\": \"plain_text\",\n      \"text\": \"Reply to Email\"\n    },\n    \"submit\": {\n      \"type\": \"plain_text\",\n      \"text\": \"Send Reply\"\n    },\n    \"close\": {\n      \"type\": \"plain_text\",\n      \"text\": \"Cancel\"\n    },\n    \"private_metadata\": \"{{ $json.payload.actions[0].value }}\",\n    \"blocks\": [\n      {\n        \"type\": \"input\",\n        \"block_id\": \"reply\",\n        \"label\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Your reply\"\n        },\n        \"element\": {\n          \"type\": \"plain_text_input\",\n          \"multiline\": true,\n          \"action_id\": \"body\"\n        }\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        -288
      ],
      "id": "fefeb9e0-8ef5-4d7e-a68c-cd2fb86bf72a",
      "name": "Open Modal"
    },
    {
      "parameters": {
        "content": "## Capture Replay Button Events\n\n* This node captures Slack interactivity events, such as clicks on the Reply via Email button in a new email message.\n\n* It provides the necessary data required to continue the workflow.",
        "height": 400,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        -224
      ],
      "typeVersion": 1,
      "id": "e6396459-2fd2-4017-8e07-e79ffd342f1e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Code Node (Parse Payload Data)\n\n* This node parses the data returned from the webhook call.\n\n* Since the webhook response is received in stringified JSON format, it is parsed into a usable JSON object for further processing.",
        "height": 400,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -224
      ],
      "typeVersion": 1,
      "id": "4957ed23-d429-4675-b312-ad7093e25db6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## IF Node (Check Payload Type)\n\n* This If node checks whether the payload type is ***block_actions*** or ***view_submission***.\n\n* If the payload type is ***block_actions***, the workflow opens the modal. Otherwise, it sends the reply email.\n\n* Clicking the “Reply via Email” button returns a ***block_actions*** payload, while submitting the modal returns a ***view_submission*** payload.",
        "height": 400,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -256
      ],
      "typeVersion": 1,
      "id": "62c58c54-4f2d-4013-8b21-fe8ca1229671",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Https Request Node (Open Modal) \n\n* This node is used to open a modal to collect the reply message input using the Slack API.\n\n* It sends a POST request with the Slack OAuth token in the headers and the modal UI definition in JSON format, including a Submit button.\n\n* Since the Slack node currently does not support this functionality, a custom HTTPS request is used instead.",
        "height": 432,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        -560
      ],
      "typeVersion": 1,
      "id": "ba734561-6864-4a32-96b3-eff3c8d2e103",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Gmail Node (Sent Reply Email)\n\n* This node sends the reply email using Gmail within the same email thread, ensuring conversation continuity.\n\n* The thread ID is extracted from the Slack button interaction (webhook payload).\n\n* The reply message content is taken from the modal submission input.\n\n* The email is sent from the authenticated Gmail account configured in this node.\n\n* It preserves the original email context by using reply headers (thread-based reply).\n\n* This node runs only after successful modal submission.",
        "height": 528,
        "width": 822,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        208
      ],
      "typeVersion": 1,
      "id": "b2ad5be7-7e87-4fed-a017-a819212d21f4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Webhook End Point\n\n* This node is used to send a successful response back to the webhook caller.\n\n* It confirms that the webhook request was received and processed correctly.\n\n* It marks the end of the webhook execution flow.",
        "height": 368,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        -208
      ],
      "typeVersion": 1,
      "id": "c2c50981-b6da-4938-96a1-97fcc98bbf04",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2896,
        0
      ],
      "id": "f68b4a0c-4a95-4543-9aac-fe380cd30ac4",
      "name": "Webhook End Point"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.payload.view.private_metadata }}",
        "emailType": "text",
        "message": "={{ $json.payload.view.state.values.reply.body.value }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1920,
        240
      ],
      "id": "cab16130-63b2-430a-8d35-4c1df5d66612",
      "name": "Sent Reply Email",
      "webhookId": "4d3d2e0e-5d6c-4743-8c17-69322ebbd48c",
      "credentials": {
        "gmailOAuth2": {
          "id": "z6vPNOHWO0MPOHYP",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Quick Setup & Instructions\n\n### How it works\n* This workflow enables users to send emails directly from Slack using an interactive modal, without leaving Slack.\n* The workflow is triggered when a user clicks a Reply button or interactive element in Slack. Slack sends an interaction payload to the webhook endpoint, which acts as the single entry point for all Slack events.\n* Since Slack interaction payloads are sent as stringified JSON, the workflow first parses the payload into a usable JSON object. An IF node then checks the payload type to determine whether the request is intended to open a modal or represents a modal submission.\n* When a modal needs to be opened, an HTTP Request node is used to call Slack’s views.open API. This is required because opening modals is not currently supported by the n8n Slack node. The modal collects the receiver’s email address, subject, and email body.\n* Once the modal is submitted, the workflow validates the email address and sends the email using the Gmail node. Finally, the workflow responds back to Slack with either a success or failure message and ends the interaction using the webhook response.\n\n### Setup steps\n1. Create and configure a Slack app with interactivity enabled.\n2. Set the workflow webhook URL as the Slack interaction endpoint.\n3. Connect Slack credentials for receiving events and posting responses.\n4. Connect Gmail credentials in the Gmail node.\n5. Customize the modal fields, email content, and Slack response messages if needed.\n6. Activate the workflow and test it by triggering the Slack interaction.",
        "height": 544,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        -928
      ],
      "typeVersion": 1,
      "id": "9cbbf8e9-fa32-4199-83f9-d787084b89b9",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Capture Reply Button Events": {
      "main": [
        [
          {
            "node": "Parse Payload Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload Data": {
      "main": [
        [
          {
            "node": "Check Payload Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payload Type": {
      "main": [
        [
          {
            "node": "Open Modal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sent Reply Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Modal": {
      "main": [
        [
          {
            "node": "Webhook End Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sent Reply Email": {
      "main": [
        [
          {
            "node": "Webhook End Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "50bdfbce-b09f-4a60-ad81-bdd9a7a00a39",
  "activeVersionId": "f25c63f4-5136-4c0e-ba8f-b5c2bd9aa9df",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-11T18:07:45.840Z",
      "createdAt": "2026-01-11T18:07:45.840Z",
      "role": "workflow:owner",
      "workflowId": "NdFJftzqLPxygA04",
      "projectId": "Bp7b9VxwF2dQ527l"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-12T09:59:05.808Z",
    "createdAt": "2026-01-12T09:58:57.710Z",
    "versionId": "f25c63f4-5136-4c0e-ba8f-b5c2bd9aa9df",
    "workflowId": "NdFJftzqLPxygA04",
    "nodes": [
      {
        "parameters": {
          "operation": "reply",
          "messageId": "={{ $json.payload.view.private_metadata }}",
          "emailType": "text",
          "message": "={{ $json.payload.view.state.values.reply.body.value }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          688,
          96
        ],
        "id": "cab16130-63b2-430a-8d35-4c1df5d66612",
        "name": "Reply to a message",
        "webhookId": "4d3d2e0e-5d6c-4743-8c17-69322ebbd48c",
        "credentials": {
          "gmailOAuth2": {
            "id": "z6vPNOHWO0MPOHYP",
            "name": "Gmail account 3"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "f5982b93-1bff-41b4-a55b-3575a97631dc",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "e09934df-28c9-4119-8349-c07ced8d7667",
        "name": "Capture Reply Button Events",
        "webhookId": "f5982b93-1bff-41b4-a55b-3575a97631dc"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  // Slack sends payload as a string → parse it\nconst rawPayload = item.json.body.payload;\n\nconst parsedPayload = typeof rawPayload === 'string'\n  ? JSON.parse(rawPayload)\n  : rawPayload;\n\nreturn [\n  {\n    json: {\n      payload: parsedPayload\n    }\n  }\n];\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "590ae095-ef2b-4731-8880-7fdbaf562b52",
        "name": "Parse Payload Data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "366ee3a6-7721-429c-bbab-99dced2d28ca",
                "leftValue": "={{ $json.payload.type }}",
                "rightValue": "block_actions",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "4580c2f7-75c6-49d2-b580-99bb7d9d4f9a",
        "name": "Check Payload Type"
      },
      {
        "parameters": {
          "respondWith": "noData",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          928,
          96
        ],
        "id": "f68b4a0c-4a95-4543-9aac-fe380cd30ac4",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/views.open",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer xoxb-10223640331687-10243038205060-snkj3oINkRFS5EzkxLPGIds6"
              },
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"trigger_id\": \"{{ $json.payload.trigger_id }}\",\n  \"view\": {\n    \"type\": \"modal\",\n    \"title\": {\n      \"type\": \"plain_text\",\n      \"text\": \"Reply to Email\"\n    },\n    \"submit\": {\n      \"type\": \"plain_text\",\n      \"text\": \"Send Reply\"\n    },\n    \"close\": {\n      \"type\": \"plain_text\",\n      \"text\": \"Cancel\"\n    },\n    \"private_metadata\": \"{{ $json.payload.actions[0].value }}\",\n    \"blocks\": [\n      {\n        \"type\": \"input\",\n        \"block_id\": \"reply\",\n        \"label\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Your reply\"\n        },\n        \"element\": {\n          \"type\": \"plain_text_input\",\n          \"multiline\": true,\n          \"action_id\": \"body\"\n        }\n      }\n    ]\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          688,
          -96
        ],
        "id": "fefeb9e0-8ef5-4d7e-a68c-cd2fb86bf72a",
        "name": "Open Modal"
      }
    ],
    "connections": {
      "Capture Reply Button Events": {
        "main": [
          [
            {
              "node": "Parse Payload Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Payload Data": {
        "main": [
          [
            {
              "node": "Check Payload Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Payload Type": {
        "main": [
          [
            {
              "node": "Open Modal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to a message": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Open Modal": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dhanraj Mahida",
    "name": "Version f25c63f4",
    "description": ""
  },
  "tags": []
}