n8n/workflows/mj_rrowwqE6Rkts3fcd.json
{
  "updatedAt": "2026-01-30T13:39:33.609Z",
  "createdAt": "2026-01-23T11:28:57.576Z",
  "id": "rrowwqE6Rkts3fcd",
  "name": "mj",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## STEP 1 - GET API KEY (YOURAPIKEY)\n- Create an account [here](https://kie.ai/) and obtain API KEY.\n- It will be used in on form submission.\n- Important: Please keep your key safe and do not disclose it to others.",
        "height": 120,
        "width": 780
      },
      "id": "0c38e0e9-51b4-4370-abd6-4f215ddc75a3",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## STEP 2 - Usage Process\n1. **Start Workflow** - Click \"Execute workflow\" button to begin the task.\n2. **Fill Form** - Complete the required fields in the popup form.\n3. **Submit - Click** \"Submit\" button to send your request.\n4. **Close Window** - You can close the form window after successful submission.\n5. **Wait for Generation** - System automatically checks status every 10 seconds.\n6. **Get Results** - Video files will be displayed automatically when generation is complete.",
        "height": 180,
        "width": 780
      },
      "id": "ccc32de4-9491-4bc8-9fff-244ed3e21d93",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate AI Images & Videos with KIE.AI Midjourney API\n### Overview\nGenerate high-quality AI images and videos using KIE.AI's Midjourney API through an intuitive form interface. This n8n workflow supports three distinct content creation modes, delivering professional results with automated processing and real-time progress monitoring.\n**Supported Modes:**\n- **Text-to-Image** (`mj_txt2img`): Generate original images from written descriptions\n- **Image-to-Image** (`mj_img2img`): Transform or enhance existing images with AI\n- **Image-to-Video** (`mj_video`): Animate still images into short video clips\nUsers interact only through a simple form interface, requiring no coding skills. After submitting a request, the system automatically calls the KIE.AI API, monitors progress in real-time, and retrieves the final output once ready.\n### Perfect for\nContent creators, designers, marketers, and developers who need to quickly generate diverse AI visual content with automated processing and professional quality results.\n### Prerequisites\n- **KIE.AI Account**: Sign up at [KIE.AI](https://kie.ai) to obtain your free or paid API key.\n- **n8n Instance**: Active n8n instance (cloud or self-hosted) with HTTP Request and form submission capabilities.\n- **AI Prompt Knowledge**: Basic understanding of AI prompts for optimal generation results.\n- **Reference Images** (Optional): Publicly accessible image URLs for image-to-image or image-to-video generation.\n### Quick Setup\n#### 1. **Get API Key**\nRegister at [KIE.AI](https://kie.ai) and generate your API key. Store it securely and never share it publicly.\n#### 2. **Configure Form Fields**\nSet up these fields in your \"On Form Submission\" node:\n- **`tasktype`** (Required): Select generation mode\n  - `mj_txt2img` for text-to-image generation\n  - `mj_img2img` for image-to-image generation  \n  - `mj_video` for image-to-video generation\n- **`prompt`** (Required): Text description for your content generation\n- **`imgurl`** (Optional): Image URL array for image-to-image or image-to-video generation\n  - **Important**: Leave empty for text-to-image generation (`mj_txt2img`)\n- **`api_key`** (Required): Your KIE.AI API key for authentication\n#### 3. **Test & Use**\n1. Click \"Execute Workflow\" in n8n.\n2. Access the generated form URL.\n3. Fill in your details and submit.\n4. Wait for processing (workflow polls every 10 seconds).\n5. Results will be displayed automatically.\n### Customization Tips\n#### Write Detailed Prompts:\nInclude specific details for better results:\n- **Style**: realistic, anime, cinematic, watercolor, oil painting\n- **Composition**: close-up, wide shot, portrait, landscape\n- **Lighting**: dramatic, soft, neon, natural, studio\n- **Subject Details**: actions, scenes, movements, visual elements\n#### Example Enhanced Prompt:\n\"Cinematic portrait of a cyberpunk character with neon blue lighting, close-up composition, dramatic shadows, futuristic mood\"\n#### Leverage Multiple Modes:\n- Start with text-to-image for initial concepts.\n- Use image-to-image to refine and enhance results.\n- Apply image-to-video to animate your best images.\n- Combine modes for complex creative workflows.\n#### Common Use Cases:\n- Social media content creation.\n- Marketing material development.\n- Product visualization.\n- Storyboarding and prototyping.\n- Creative asset generation.\n### Troubleshooting\n- **API Key Invalid**: Verify your key is correct and active.\n- **Generation Fails**: Check prompt length and content appropriateness.\n- **Slow Processing**: Video generation can take 2-5 minutes; this is normal.\n- **Image URL Issues**: Ensure URLs are publicly accessible and properly formatted.\n**Keywords:** KIE.AI API, AI image generation, AI video generation, text-to-image, image-to-video, automated workflows, n8n template, AI content creation",
        "height": 1576,
        "width": 1148,
        "color": 3
      },
      "id": "ae86b491-ac3f-4891-bf71-eaae076f9b70",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## STEP 3 - Form Parameters\n1. **Prompt** \n    - Purpose: Describe the video content you want to generate.\n    - Example: \"A dog playing in a park\".\n    - Tips:\n    Be detailed and specific in describing video content.\n    Include actions, scenes, and style information.\n    Describe movements and visual elements you want to see.\n    More detailed descriptions lead to better results.\n2. **img_url** (Image-to-Video, Optional)\n    - Purpose: Provide an image URL for image-to-image or image-to-video generation. Note: If you are using text-to-image generation (mj_txt2img), please do not fill in this parameter.\n    - Example: https://file.example.com/your-image.jpg\n    - Tips:\n    Required for: mj_img2img (image-to-image) and mj_video/mj_video_hd (image-to-video).\n    Not needed for: mj_txt2img (text-to-image) - leave this field empty.\n    Use a clear and relevant image to guide the generation.\n3. **task_type (Task Type)** \n    - Purpose: Select the type of AI generation task you want to perform.\n    - Options: mj_txt2img (text-to-image),mj_img2img (image-to-image),mj_video (image-to-video)\nmj_video_hd (image-to-high-definition-video)\n    - Tips:Choose mj_video or mj_video_hd for video generation. Choose mj_txt2img for text-to-image generation. Choose mj_img2img for image-to-image generation.\n4. **api_key** (API Key)\n    - This is what you get in the first step.\n",
        "height": 552,
        "width": 780
      },
      "id": "f4f89dd7-0688-4072-9da8-3cf535744054",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "AI video generator",
        "formDescription": "Please fill in the following information to generate your video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type",
              "placeholder": "mj_txt2img"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "id": "06aff79f-ae6b-4940-9971-6960e8087034",
      "name": "Submit Text Prompt for Video Generation",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        1904,
        1952
      ],
      "webhookId": "791b190b-2acc-4d10-b593-c1929e67686c",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/mj/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.api_key}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"taskType\": \"{{$json.task_type}}\",\n  \"speed\": \"fast\",\n  \"prompt\": \"{{$json.prompt}}\",\n  \"fileUrls\": \"{{$json.img_url ? [$json.img_url] : []}}\",\n  \"aspectRatio\": \"16:9\",\n  \"version\": \"7\",\n  \"variety\": 10,\n  \"stylization\": 1,\n  \"weirdness\": 1,\n  \"waterMark\": \"\",\n  \"callBackUrl\": \"https://api.example.com/callback\",\n  \"ow\": 500,\n  \"videoBatchSize\": 1\n}",
        "options": {}
      },
      "id": "bf5dce7e-3daa-4d90-a79a-d999350cf7d8",
      "name": "Send Video Generation Request to KIE.AI API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2128,
        1952
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "286adef6-f4c2-4153-aae0-2bb1c21c4aa7",
      "name": "Wait for Video Processing Completion",
      "type": "n8n-nodes-base.wait",
      "position": [
        2368,
        1952
      ],
      "webhookId": "bb6c2821-9586-44b7-8606-2ee69a77ed75",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/mj/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Submit Text Prompt for Video Generation\"].json[\"api_key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3a3892ff-01af-44eb-ba79-684b98fdf973",
      "name": "Obtain the generated status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2576,
        1952
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "db9a5dec-997b-4c3f-9582-37c9bbeb19ff",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "=true",
              "rightValue": "={{ $json.data.successFlag == 1 }}"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "6c56375b-a4cd-4275-a695-ce6f862bc367",
      "name": "Check if Video Generation is Complete",
      "type": "n8n-nodes-base.if",
      "position": [
        2416,
        2176
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa5f375f-cddc-4f7b-a018-67c28015d18b",
              "name": "img1",
              "type": "string",
              "value": "={{ $json.data.resultInfoJson.resultUrls[0].resultUrl }}"
            },
            {
              "id": "8f93e12e-13da-495f-a686-c0abc22f39d9",
              "name": "img2",
              "type": "string",
              "value": "={{ $json.data.resultInfoJson.resultUrls[1].resultUrl }}"
            },
            {
              "id": "9b0893fb-f0ad-4aaa-a709-d32fbe4947a4",
              "name": "img3",
              "type": "string",
              "value": "={{ $json.data.resultInfoJson.resultUrls[2].resultUrl }}"
            },
            {
              "id": "e5301b8c-700e-4d0d-a2c8-1538071cd7e0",
              "name": "img4",
              "type": "string",
              "value": "={{ $json.data.resultInfoJson.resultUrls[3].resultUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16d14ebb-c06a-4c07-9e96-24e9dc22c99e",
      "name": "Format and Display Video Results",
      "type": "n8n-nodes-base.set",
      "position": [
        2784,
        2160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "2eSEmJHor1stcylAjcdM0AU5UAkFBVDBIFFTPbJl"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"comment\": \"n8n workflow marketing video\",\n  \"resolution\": \"full-hd\",\n  \"scenes\": [\n    {\n      \"elements\": [\n        {\n          \"type\": \"image\",\n          \"src\": \"https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg\",\n          \"duration\": 10\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Still doing marketing manually?\",\n          \"duration\": 10\n        }\n      ]\n    },\n    {\n      \"elements\": [\n        {\n          \"type\": \"image\",\n          \"src\": \"https://images.pexels.com/photos/3184287/pexels-photo-3184287.jpeg\",\n          \"duration\": 12\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Emails, leads, follow ups and reports take hours every day.\",\n          \"duration\": 12\n        }\n      ]\n    },\n    {\n      \"elements\": [\n        {\n          \"type\": \"image\",\n          \"src\": \"https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg\",\n          \"duration\": 12\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Meet n8n – powerful workflow automation for modern teams.\",\n          \"duration\": 12\n        }\n      ]\n    },\n    {\n      \"elements\": [\n        {\n          \"type\": \"image\",\n          \"src\": \"https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg\",\n          \"duration\": 15\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Build visual workflows without writing complex code.\",\n          \"duration\": 15\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3584,
        1584
      ],
      "id": "42a21b3f-6045-4b15-a763-cb2b6f86684e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.json2video.com/v2/movies?project={{$json.project}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "2eSEmJHor1stcylAjcdM0AU5UAkFBVDBIFFTPbJl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3792,
        1584
      ],
      "id": "abbfff58-47b4-4a90-bc07-560fb976a7e9",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Obtain the generated status": {
      "main": [
        [
          {
            "node": "Check if Video Generation is Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Processing Completion": {
      "main": [
        [
          {
            "node": "Obtain the generated status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Video Generation is Complete": {
      "main": [
        [
          {
            "node": "Format and Display Video Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Video Processing Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Text Prompt for Video Generation": {
      "main": [
        [
          {
            "node": "Send Video Generation Request to KIE.AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video Generation Request to KIE.AI API": {
      "main": [
        [
          {
            "node": "Wait for Video Processing Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a99ce740-a00c-4a3d-9f5b-f237a9bb4676",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-23T11:28:57.576Z",
      "createdAt": "2026-01-23T11:28:57.576Z",
      "role": "workflow:owner",
      "workflowId": "rrowwqE6Rkts3fcd",
      "projectId": "Bp7b9VxwF2dQ527l"
    }
  ],
  "activeVersion": null,
  "tags": []
}